<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../css/component/pear/css/pear.css">
</head>
<body>
<!--此处action需添加修改管理员账号的路径-->
<form class="layui-form" action="/admin/editAccount">
  <div class="mainBox">
    <div class="main-container">
      <div class="main-container">
        <div class="layui-form-item">
          <label class="layui-form-label">账号</label>
          <div class="layui-input-block">
            <input type="text" name="name"  lay-verify="title" autocomplete="off"  class="layui-input" th:value="${name}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">密码</label>
          <div class="layui-input-block">
            <input id="password" type="text" name="password" lay-verify="title" autocomplete="off"  class="layui-input" th:value="${password}">
          </div>
        </div>
        <div class="button-container">
          <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="user-save" >
            <i class="layui-icon layui-icon-ok"></i>
            提交
          </button>
          <button type="reset" class="pear-btn pear-btn-sm">
            <i class="layui-icon layui-icon-refresh"></i>
            重置
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
</script>
</body>
</html>
