<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link href="../../css/component/pear/css/pear.css" rel="stylesheet">
    <script src="../../css/component/layui/layui.js"></script>
    <script src="../../css/component/pear/pear.js"></script>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userId" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <input type="text" name="type" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="role-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="role-table" lay-filter="role-table"></table>
        <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" lay-id="role-table" style=" ">
            <div class="layui-table-tool">
                <div class="layui-table-tool-temp">
                    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
                        <i class="layui-icon layui-icon-add-1"></i>
                        新增
                    </button>
                    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
                        <i class="layui-icon layui-icon-delete"></i>
                        删除
                    </button>
                </div>
                <div class="layui-table-tool-self">
                    <div class="layui-inline" title="刷新" lay-event="refresh">
                        <i class="layui-icon layui-icon-refresh"></i>
                    </div>
                    <div class="layui-inline" title="筛选列" lay-event="LAYTABLE_COLS">
                        <i class="layui-icon layui-icon-cols"></i>
                    </div>
                    <div class="layui-inline" title="打印" lay-event="LAYTABLE_PRINT">
                        <i class="layui-icon layui-icon-print"></i>
                    </div>
                    <div class="layui-inline" title="导出" lay-event="LAYTABLE_EXPORT">
                        <i class="layui-icon layui-icon-export"></i>
                    </div>
                </div>
            </div><div class="layui-table-box">
            <div class="layui-table-header">
                <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="line">
                    <thead>
                    <tr>
                        <th class=" layui-table-col-special">
                            <div class="layui-table-cell laytable-cell-1-0-0 laytable-cell-checkbox">
                                <input type="checkbox" name="layTableCheckbox" lay-skin="primary" lay-filter="layTableAllChoose">
                                <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                                    <i class="layui-icon layui-icon-ok"></i>
                                </div>
                            </div>
                        </th>
                        <th data-field="userId" data-key="1-0-1" class="">
                            <div class="layui-table-cell laytable-cell-1-0-1" align="center">
                                <span>账号</span>
                            </div>
                        </th>
                        <th data-field="username" data-key="1-0-2" class="">
                            <div class="layui-table-cell laytable-cell-1-0-2" align="center">
                                <span>姓名</span>
                            </div>
                        </th>
                        <th data-field="sex" data-key="1-0-3" class="">
                            <div class="layui-table-cell laytable-cell-1-0-3" align="center">
                                <span>性别</span>
                            </div>
                        </th>
                        <th data-field="age" data-key="1-0-4" class="">
                            <div class="layui-table-cell laytable-cell-1-0-4" align="center">
                                <span>年龄</span>
                            </div>
                        </th>
                        <th data-field="email" data-key="1-0-5" class="">
                            <div class="layui-table-cell laytable-cell-1-0-5" align="center">
                                <span>邮箱</span>
                            </div>
                        </th>
                        <th data-field="phoneNumber" data-key="1-0-6" class="">
                            <div class="layui-table-cell laytable-cell-1-0-6" align="center">
                                <span>电话</span>
                            </div>
                        </th>
                        <th data-field="role" data-key="1-0-7" class="">
                            <div class="layui-table-cell laytable-cell-1-0-7" align="center">
                                <span>角色</span>
                            </div>
                        </th>
                        <th data-field="8" data-key="1-0-8" class=" layui-table-col-special">
                            <div class="layui-table-cell laytable-cell-1-0-8" align="center">
                                <span>操作</span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--此处需修改thmeleaf函数-->
                    <tr th:each="user : ${user.getUserList}">
                        <td class=" layui-table-col-special">
                            <div class="layui-table-cell laytable-cell-1-0-0 laytable-cell-checkbox">
                                <input type="checkbox" name="layTableCheckbox" lay-skin="primary">
                                <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                                    <i class="layui-icon layui-icon-ok"></i>
                                </div>
                            </div>
                        </td>
                        <td data-field="userId" data-key="1-0-1" class="">
                            <div class="layui-table-cell laytable-cell-1-0-1" align="center">
                                <span th:text="${user.userId}">账号</span>
                            </div>
                        </td>
                        <td data-field="username" data-key="1-0-2" class="">
                            <div class="layui-table-cell laytable-cell-1-0-2" align="center">
                                <span th:text="${user.username}">姓名</span>
                            </div>
                        </td>
                        <td data-field="sex" data-key="1-0-3" class="">
                            <div class="layui-table-cell laytable-cell-1-0-3" align="center">
                                <span th:text="${user.sex}">性别</span>
                            </div>
                        </td>
                        <td data-field="age" data-key="1-0-4" class="">
                            <div class="layui-table-cell laytable-cell-1-0-4" align="center">
                                <span th:text="${user.age}">年龄</span>
                            </div>
                        </td>
                        <td data-field="email" data-key="1-0-5" class="">
                            <div class="layui-table-cell laytable-cell-1-0-5" align="center">
                                <span th:text="${user.email}">邮箱</span>
                            </div>
                        </td>
                        <td data-field="phoneNumber" data-key="1-0-6" class="">
                            <div class="layui-table-cell laytable-cell-1-0-6" align="center">
                                <span th:text="${user.phoneNumber}">电话</span>
                            </div>
                        </td>
                        <td data-field="role" data-key="1-0-7" class="">
                            <div class="layui-table-cell laytable-cell-1-0-7" align="center">
                                <span th:text="${user.role}">角色</span>
                            </div>
                        </td>
                        <td data-field="8" data-key="1-0-8" class=" layui-table-col-special">
                            <div class="layui-table-cell laytable-cell-1-0-8" align="center">
                                <a><button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button></a>
                                <a><button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button></a>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
<!--            <div class="layui-table-body layui-table-main">-->
<!--                <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="line">-->
<!--                    -->
<!--                </table>-->

<!--            </div>-->
        </div>
            <div class="layui-table-page">
                <div id="layui-table-page1"></div>
            </div>
            <style>
                .laytable-cell-1-0-0
                { width: 48px; }
                .laytable-cell-1-0-1{ width: 100px; }
                .laytable-cell-1-0-2{  }
                .laytable-cell-1-0-3{ width: 80px; }
                .laytable-cell-1-0-4{  }
                .laytable-cell-1-0-5{  }
                .laytable-cell-1-0-6{  }
                .laytable-cell-1-0-7{  }
                .laytable-cell-1-0-8{ width: 130px; }
            </style>
        </div>
    </div>
</div>

<script type="text/html" id="role-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>


</body>
</html>