<!DOCTYPE html>
<html lang="en" xmlns:th="http://thyneleaf.org">
<script type="text/javascript" src="js/jquery-1.8.3.js"></script>

<head>
<title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Responsive_table :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" href="../css/bootstrap.min.css" >
<link rel="stylesheet" href="../js/data-tables/DT_bootstrap.css" />
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="../css/style.css" rel='stylesheet' type='text/css' />
<link href="../css/style-responsive.css" rel="stylesheet"/>
<!-- font CSS -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="../css/font.css" type="text/css"/>
<link href="../css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<script src="../js/jquery2.0.3.min.js"></script>
</head>
<body>
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">

    <a href="index.html" class="logo">
        系统管理
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>
<!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
            <!-- settings start -->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
            <!-- settings end -->
            <!-- inbox dropdown start-->
            <li id="header_inbox_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-envelope-o"></i>
                </a>
            </li>
            <!-- inbox dropdown end -->
            <!-- notification dropdown start-->
            <li id="header_notification_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-bell-o"></i>
                </a>
            </li>
        </ul>
    </div>
</header>
<!--header end-->
<!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="index.html">
                            <i class="fa fa-dashboard"></i>
                            <span>主页</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-th"></i>
                            <span>客户管理</span>
                        </a>
                        <ul class="sub">
                            <li><a class="active" href="/customer/selectCustomerList">客户信息管理</a></li>
                            <li><a class="active" href="/customer/selectCheckinList">客户入住管理</a></li>
                            <li><a class="active" href="/customer/selectCheckoutList">客户退住管理</a></li>
                            <li><a href="/customer/selectAllOutList">客户外出管理</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            <span>床位管理</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/bed/bedForm">床位信息管理</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>护理管理</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/nurseContent/viewList">护工信息管理</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/nurseLevel/viewNurseLevelList">护理级别管理</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/nurseContent/viewNurseRecord">护理记录管理</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            <span>膳食管理</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/diet/diets">膳食信息管理</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/diet/photo">膳食菜单管理</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/diet/calendar">膳食日历管理</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-envelope"></i>
                            <span>邮件</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/mail/mailForm">收件箱</a></li>
                            <li><a href="/mail/composeMailForm">撰写邮件</a></li>
                            <li><a href="/mail/viewMailForm">查看邮件</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">
     <!-- page heading start-->
     <div class="page-heading">
         <h3>
             客户信息管理
         </h3>
         <ul class="breadcrumb">
             <li>
                 <a href="#">梅岭社区颐养中心</a>
             </li>
             <li>
                 <a href="#">客户管理</a>
             </li>
             <li class="active"> 客户信息管理 </li>
         </ul>
     </div>
     <!-- page heading end-->

     <!--body wrapper start-->
     <div class="wrapper">
         <div class="row">
             <div class="col-sm-12">
                 <section class="panel">
                     <header class="panel-heading">
                         客户信息管理
                         <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                     </header>
                     <div class="panel-body">
                         <div class="adv-table editable-table ">
                             <div class="clearfix">
                                 <div class="btn-group">
                                     <a href="/customer/newCustomerForm">
                                         <button>
                                             Add New <i class="fa fa-plus"></i>
                                         </button>
                                     </a>
                                 </div>
                             </div>
                             <div class="space15"></div>
                             <table class="table table-striped table-hover table-bordered" id="editable-sample">
                                 <thead>
                                 <tr>
                                     <th data-breakpoints="xs">ID</th>
                                     <th>Name</th>
                                     <th>Sex</th>
                                     <th>Phone</th>
                                     <th>Age</th>
                                     <th>Height</th>
                                     <th>Weight</th>
                                     <th data-breakpoints="xs sm md" data-title="DOB">Birthday</th>
                                     <th>Attention</th>
                                     <th>Edit</th>
                                     <th>Delete</th>
                                     <th>Healthy</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr class="" th:each="customer : ${customerList}">
                                     <td><a th:block id="id" name="id" th:text="${customer.id}" th:href="${'/customer/getTimeLineById?id='}+${customer.id}"></a></td>
                                     <td><th:block  name="name" th:text="${customer.name}" /></td>
                                     <td><th:block  name="sex" th:text="${customer.sex}" /></td>
                                     <td><th:block  name="phone" th:text="${customer.phone}" /></td>
                                     <td><th:block  name="age" th:text="${customer.age}" /></td>
                                     <td><th:block  name="height" th:text="${customer.height}" /></td>
                                     <td><th:block  name="weight" th:text="${customer.weight}" /></td>
                                     <td><th:block  name="birthday" th:text="${customer.birthday}" /></td>
                                     <td><th:block  name="attention" th:text="${customer.attention}" /></td>
                                     <td><a th:href="${'/customer/editCustomerForm?id='}+${customer.id}">Edit</a></td>
                                     <td><a th:href="${'/customer/deleteCustomer?id='}+${customer.id}">Delete</a></td>
                                     <td>
                                         <a th:href="${'/healthy/addHealthy?id='}+${customer.id}">Add</a>
                                         <a th:href="${'/healthy/viewList?id='}+${customer.id}">Detail</a>
                                         <a th:href="${'/healthy/show?custId='}+${customer.id}">Show</a>
                                     </td>

                                 </tr>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </section>
             </div>
         </div>
     </div>
 </div>
     <!--body wrapper end-->
</div>

    </section>

 <!-- footer -->
		  <div class="footer">
			<div class="wthree-copyright">
			  <p>© 2021 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
			</div>
		  </div>
  <!-- / footer -->
</section>

<!--main content end-->
</section>
<script src="../js/bootstrap.js"></script>
<script src="../js/jquery.dcjqaccordion.2.7.js"></script>
<script src="../js/scripts.js"></script>
<script src="../js/jquery.slimscroll.js"></script>
<script src="../js/jquery.nicescroll.js"></script>
<script language="javascript" type="text/javascript" src="../js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="../js/jquery.scrollTo.js"></script>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../js/jquery-1.10.2.min.js"></script>
<script src="../js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/modernizr.min.js"></script>
<script src="../js/jquery.nicescroll.js"></script>

<!--data table-->
<script type="text/javascript" src="../js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="../js/scripts.js"></script>

<!--script for editable table-->
<script src="../js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
</body>
</html>
