<!DOCTYPE html>
<html lang="en" xmlns:th="http://thyneleaf.org">
<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
<script type="text/javascript">
    function deleteBed() {
        var $id = $("#id").val();
        $.ajax({
            url: "",
            请求方式: "post",
            data: "id=" + $id,
            success: function (result){
                alert("删除成功！");
            }
        });
    }
</script>
<style>

</style>
<head>
    <title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Responsive_table :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="../css/jquery.stepy.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" href="../js/data-tables/DT_bootstrap.css" />
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="../css/style.css" rel='stylesheet' type='text/css' />
    <link href="../css/style-responsive.css" rel="stylesheet"/>
    <!-- font CSS -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="../css/font.css" type="text/css"/>
    <link href="../css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <script src="../js/jquery2.0.3.min.js"></script>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.min.js"></script>
</head>
<body>
<section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">

            <a href="/account/main" class="logo">
                系统管理
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>
        <!--logo end-->

        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-bell-o"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="/account/main">
                            <i class="fa fa-dashboard"></i>
                            <span>主页</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-th"></i>
                            <span>客户管理</span>
                        </a>
                        <ul class="sub">
                            <li><a class="active" href="/customer/selectCustomerList">客户信息管理</a></li>
                            <li><a class="active" href="/customer/selectCheckinList">客户入住管理</a></li>
                            <li><a class="active" href="/customer/selectCheckoutList">客户退住管理</a></li>
                            <li><a href="/customer/selectAllOutList">客户外出管理</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            <span>床位管理</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/bed/bedForm">床位信息管理</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            <span>合同管理</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/contract/contractForm">合同信息管理</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>护理管理</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/nurseContent/viewList">护工信息管理</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/nurseLevel/viewNurseLevelList">护理级别管理</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/nurseContent/viewNurseRecord">护理记录管理</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>健康管理</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/medicationrecord/viewList">用药记录管理</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/physicalexam/viewList">体检记录管理</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/custdiserelation/viewList">患病情况管理</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/disease/viewList">疾病信息管理</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            <span>膳食管理</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/diet/diets">膳食信息管理</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/diet/photo">膳食菜单管理</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/diet/calendar">膳食日历管理</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-envelope"></i>
                            <span>邮件</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/mail/mailForm">收件箱</a></li>
                            <li><a href="/mail/composeMailForm">撰写邮件</a></li>
                            <li><a href="/mail/viewMailForm">查看邮件</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <div class="panel panel-default">
                    <!-- page heading start-->
                    <div class="page-heading">
                        <h3>
                            客户健康信息
                        </h3>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">合肥学院养老中心</a>
                            </li>
                            <li>
                                <a href="#">客户管理</a>
                            </li>
                            <li class="active"> 客户健康信息 </li>
                        </ul>
                    </div>
                    <!-- page heading end-->
                    <!--body wrapper start-->
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="square-widget">
                                    <div class="widget-container">
                                        <div class="stepy-tab">
                                        </div>
                                        <form action="/healthy/updateHealthy" method="post" id="default" class="form-horizontal" >
                                            <fieldset title="Customer Information">
                                                <legend>客户信息</legend>
                                                <legend style="text-align: center;align-content: center;color: #aaa69d "/><th:block th:text="${today}"/></legend>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">ID</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text"  name="id" class="form-control" th:value="${customer.id}" disabled="disabled" >
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Name</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" placeholder="name" class="form-control" th:value="${customer.name}" disabled="disabled">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Sex</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" placeholder="sex" class="form-control" th:value="${customer.sex}" disabled="disabled">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Age</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" placeholder="age" class="form-control" th:value="${customer.age}" disabled="disabled">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset title="Essential Information">
                                                <legend>基本信息</legend>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Height</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" name="height" class="form-control" th:value="${customer.height}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Weight</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" name="weight" class="form-control" th:value="${healthy.weight}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Temperature</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" name="temp" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Health Code</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <img src="../images/healthy.jpg" style="width: 200px;height: 200px"/>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset title="Health Information">
                                                <legend>健康信息</legend>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Pressure</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" name="pressure" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Sugar</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" name="sugar" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Pulse</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" name="pulse" class="form-control">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset title="Self Care Ability">
                                                <legend>自理能力</legend>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Self Care</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="minimal single-row">
                                                            <div class="radio single-row">
                                                                <input tabindex="3" type="radio" value="1" name="selfCare">
                                                                <label>可自理</label>
                                                            </div>
                                                            <div class="radio single-row">
                                                                <input tabindex="3" type="radio" value="2" name="selfCare">
                                                                <label>轻度依赖</label>
                                                            </div>
                                                            <div class="radio single-row">
                                                                <input tabindex="3" type="radio" value="3" name="selfCare">
                                                                <label>中度依赖</label>
                                                            </div>
                                                            <div class="radio single-row">
                                                                <input tabindex="3" type="radio" value="4" name="selfCare">
                                                                <label>不能自理</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset title="Customer Attachment">
                                                <legend>客户附件</legend>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Telephone</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" placeholder="Telephone" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">Remarks</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <textarea rows="5" cols="60" class="form-control" ></textarea>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <input type="submit" class="btn btn-info finish" value="Finish" style="padding-left: 15px">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--body wrapper end-->
                </div>
            </div>
        </section>

        <!-- footer -->
        <div class="footer">
            <div class="wthree-copyright">
                <p>© 2021 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
        </div>
        <!-- / footer -->
    </section>

    <!--main content end-->
</section>
<script src="../js/bootstrap.js"></script>
<script src="../js/jquery.dcjqaccordion.2.7.js"></script>
<script src="../js/scripts.js"></script>
<script src="../js/jquery.slimscroll.js"></script>
<script src="../js/jquery.nicescroll.js"></script>
<script language="javascript" type="text/javascript" src="../js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="../js/jquery.scrollTo.js"></script>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../js/jquery-1.10.2.min.js"></script>
<script src="../js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../js/jquery.stepy.js"></script>
<script src="../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/modernizr.min.js"></script>
<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/jquery.validate.min.js"></script>

<!--data table-->
<script type="text/javascript" src="../js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="../js/scripts.js"></script>

<!--script for editable table-->
<script src="../js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
<!--common scripts for all pages-->
<script src="../js/scripts.js"></script>

<script>
    /*=====STEPY WIZARD====*/
    $(function() {
        $('#default').stepy({
            backLabel: 'Previous',
            block: true,
            nextLabel: 'Next',
            titleClick: true,
            titleTarget: '.stepy-tab'
        });
    });
    /*=====STEPY WIZARD WITH VALIDATION====*/
    $(function() {
        $('#stepy_form').stepy({
            backLabel: 'Back',
            nextLabel: 'Next',
            errorImage: true,
            block: true,
            description: true,
            legend: false,
            titleClick: true,
            titleTarget: '#top_tabby',
            validate: true
        });
        $('#stepy_form').validate({
            errorPlacement: function(error, element) {
                $('#stepy_form div.stepy-error').append(error);
            },
            rules: {
                'name': 'required',
                'email': 'required'
            },
            messages: {
                'name': {
                    required: 'Name field is required!'
                },
                'email': {
                    required: 'Email field is requerid!'
                }
            }
        });
    });
</script>
</body>
</html>
