/* * {
	margin: 0px;
	padding: 0px;
} */
.cen-container {
	margin: 2rem auto 1rem auto;
	width: 70%;
	height: auto;
	/* background-color: #fff; */
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}
.cen-container .cen-left {
	width: 65%;
	height: auto;
}
.cen-container .cen-left .header-card {
	width: 100%;
	height: 5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.cen-container .cen-left .header-card .h-card {
	cursor: pointer;
	width: 29%;
	height: 100%;
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-around;
	align-items: center;
	background-color: #fff;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 0.3rem;
	color: rgb(48, 48, 48);
	font-size: 0.5rem;
	transition: 0.3s ease-in-out;
	padding: 0rem 0.5rem;
}
.cen-container .cen-left .header-card .h-card:hover {
	box-shadow: 0px 0px 5px 5px rgb(216, 216, 216);
	transition: 0.3s ease-in-out;
}
.cen-container .cen-left .header-card .h-card a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	width: 30%;
	height: auto;
}
.cen-container .cen-left .header-card .h-card a i {
	/* width: 3.5rem;
	height: 3.5rem; */
	padding: 0.6rem;
	border-radius: 50%;
	font-size: 1.8rem;
	color: white;
}
.cen-container .cen-left .header-card .h-card span:nth-child(2) {
	/* width: 38%; */
	/* height: auto; */
	color: rgb(233, 60, 12);
	font-size: 1.5rem;
}
.cen-container .cen-left .header-card .h-card span:nth-child(3) {
	/* width: 40%;
	height: auto; */
}
.cen-container .cen-left .cen-down {
	width: 100%;
	height: auto;
	background-color: #fff;
	border-radius: 0.3rem;
	margin-top: 1rem;
}

.cen-container .cen-left .cen-down .down-header {
	margin-top: 1rem;
	width: 100%;
	height: auto;
	padding: 0.8rem 0rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.cen-container .cen-left .cen-down .down-header .words {
	width: 30%;
	height: auto;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bolder;
	color: rgb(216, 16, 16);
}
.cen-container .cen-left .cen-down .down-header span {
	font-size: 1.2rem;
	color: rgb(245, 159, 0);
	font-weight: bolder;
	margin-right: 0.8rem;
}
.cen-container .cen-left .cen-down .down-header .processbar {
	width: 55%;
	height: 1.2rem;
	background-color: rgb(236, 236, 236);
	border-radius: 20rem;
	overflow: hidden;
}
.cen-container .cen-left .cen-down .down-header .processbar .percent {
	width: 68.5%;
	height: 100%;
	/* background-color: rgb(214, 13, 16); */
	/* background-image: linear-gradient(
		to right,
		rgb(247, 96, 96),
		rgb(243, 182, 51),
		rgb(252, 205, 105)
	); */
	background-image: linear-gradient(-270deg, #ffd750, #ffad27);
	border-radius: 20rem;
}
.cen-container .cen-left .cen-down .task-list {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.cen-container .cen-left .cen-down .task-list .task {
	width: 30%;
	height: 8rem;
	padding: 0.9rem 0.2rem;
	margin: 0.5rem 0rem;
	display: flex;
	justify-content: space-between;
	border: 1px solid rgb(231, 231, 231);
	transition: 0.3s ease-in-out;
}
.cen-container .cen-left .cen-down .task-list .task:hover {
	box-shadow: 0px 0px 5px 5px rgb(231, 231, 231);
	transition: 0.3s ease-in-out;
}
.cen-container .cen-left .cen-down .task-list .task .img {
	width: 40%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}
.cen-container .cen-left .cen-down .task-list .task .img img {
	width: 70%;
	height: auto;
	margin: 0.3rem auto;
}
.cen-container .cen-left .cen-down .task-list .task .img h3 {
	margin: 0.3rem auto;
	width: 100%;
	font-size: 0.8rem;
	text-align: center;
}
.cen-container .cen-left .cen-down .task-list .task .desc {
	width: 60%;
	height: auto;
	padding: 0rem 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
	vertical-align: middle;
}
.cen-container .cen-left .cen-down .task-list .task .desc h4 {
	margin: 0.1rem auto;
	font-size: 0.1rem;
	text-align: left;
	color: rgb(56, 56, 56);
}
.cen-container .cen-left .cen-down .task-list .task .desc .process {
	width: 100%;
	height: 1rem;
	margin: 0.1rem auto;
	border-radius: 1rem;
	background: rgb(231, 231, 231);
	overflow: hidden;
}
.cen-container .cen-left .cen-down .task-list .task .desc .process .bgcol {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	background-image: linear-gradient(-270deg, #ffd750, #ffad27);
	color: white;
	font-size: 0.1rem;
	text-align: center;
}
.to-com-btn {
	cursor: pointer;
	width: 100%;
	height: 1.5rem;
	font-size: 0.7rem;
	text-align: center;
	margin: 0rem auto;
	line-height: 1.5rem;
	border-radius: 0.4rem;
	border: 1px solid rgb(173, 21, 21);
	color: rgb(173, 21, 21);
	background-color: rgb(255, 255, 255);
	transition: 0.3s ease-in-out;
}
.to-com-btn:hover {
	color: white;
	background-color: rgb(173, 21, 21);
	transition: 0.3s ease-in-out;
}

.com-btn {
	cursor: pointer;
	width: 100%;
	height: 1.5rem;
	font-size: 0.7rem;
	text-align: center;
	margin: 0rem auto;
	border-radius: 0.4rem;
	line-height: 1.5rem;
	color: rgb(160, 160, 160);
	background-color: rgb(216, 216, 216);
}

.cen-container .cen-left .partTrend {
	margin-top: 1rem;
	padding-bottom: 0.8rem;
	width: 100%;
	height: auto;
	border-radius: 0.3rem;
	background-color: #fff;
}
.cen-container .cen-left .partTrend .header {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(231, 231, 231);
}
.cen-container .cen-left .partTrend .header .line {
	width: 0.3rem;
	height: 1.2rem;
	margin-left: 0.9rem;
	background-color: rgb(173, 21, 21);
}
.cen-container .cen-left .partTrend .header h3 {
	font-size: 1rem;
	font-weight: bolder;
	color: rgb(173, 21, 21);
	text-indent: 0.5rem;
}

.list-item {
	position: relative;
	width: 100%;
	height: 10rem;
	border-bottom: 1px solid rgb(235, 235, 235);
	background-color: #fff;
	transition: 0.3s ease-in-out;
	/* box-shadow: 0px 0px 5px 4px rgb(219, 219, 219); */
	z-index: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.cen-container .cen-left .partTrend .list-item:hover {
	z-index: 5;
	box-shadow: 0px 0px 7px 4px rgb(216, 216, 216);
	transition: 0.3s ease-in-out;
}
.cen-container .cen-left .partTrend .list-item:hover .item-img img {
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
}
.cen-container .cen-left .partTrend .list-item .item-img {
	width: 30%;
	height: 8.3rem;
	overflow: hidden;
	border-radius: 0.2rem;
}
.cen-container .cen-left .partTrend .list-item .item-img img {
	/* display: block; */
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.3s ease-in-out;
	/* object-fit: cover; */
}
.cen-container .cen-left .partTrend .list-item .content {
	width: 60%;
	height: 9rem;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}
.cen-container .cen-left .partTrend .list-item .content h1 {
	font-size: 1.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0.5rem 0rem;
}
.cen-container .cen-left .partTrend .list-item .content h1 a {
	text-decoration: none;
	color: rgb(48, 48, 48);
}
.cen-container .cen-left .partTrend .list-item .content h1 a:hover {
	color: rgb(214, 13, 16);
}
.cen-container .cen-left .partTrend .list-item .content .detail {
	width: 100%;
	height: auto;
	font-size: 0.1rem;
	color: rgb(95, 95, 95);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
}
.cen-container .cen-left .partTrend .list-item .content .article-relative {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: auto;
	font-size: 0.1rem;
	color: rgb(122, 122, 122);
}
.cen-container .cen-left .partTrend .list-item .content .article-relative i {
	font-size: 0.3rem;
}
.cen-container .cen-left .partTrend .more-item {
	border: 1px solid rgb(216, 216, 216);
	display: block;
	/* width: 100%; */
	height: 1rem;
	margin-top: 0.5rem;
	/* margin-bottom: 1rem; */
	padding: 0.3rem 0rem;
	text-align: center;
	background-color: #fff;
	border-radius: 0.2rem;
	cursor: pointer;
	font-size: 0.6rem;
	text-decoration: none;
	color: rgb(48, 48, 48);
	transition: 0.3s ease-in-out;
}
.cen-container .cen-left .partTrend .more-item:hover {
	color: rgb(233, 60, 12);
	box-shadow: 0px 0px 5px 5px rgb(231, 231, 231);
	transition: 0.3s ease-in-out;
}
/* .cen-container .cen-left .header-card .h-card span:nth-child(2) {
 width: 38%;
	height: auto;
	color: rgb(233, 60, 12);
	font-size: 1rem;
}
.cen-container .cen-left .header-card .h-card span:nth-child(3) {
 width: 40%;
	height: auto;
} */

#orange {
	background-image: linear-gradient(
		to bottom right,
		rgb(255, 201, 174) 5%,
		rgb(233, 60, 12)
	) !important;
}
#green {
	background-image: linear-gradient(
		to bottom right,
		rgb(146, 255, 226) 5%,
		rgb(8, 202, 150)
	) !important;
}
#blue {
	background-image: linear-gradient(
		to bottom right,
		rgb(173, 215, 255) 5%,
		rgb(35, 129, 218)
	) !important;
}

.cen-container .cen-right {
	width: 32%;
	height: auto;
}
.cen-container .cen-right .cen-card {
	width: 100%;
	height: auto;
	color: rgb(56, 56, 56);
	margin-bottom: 1rem;
	background-color: white;
	border-radius: 0.3rem;
	overflow: hidden;
	border: 1px solid rgb(216, 216, 216);
	transition: 0.3s ease-in-out;
}
.cen-container .cen-right .cen-card:hover {
	box-shadow: 0px 0px 5px 5px rgb(216, 216, 216);
	transition: 0.3s ease-in-out;
}
.cen-container .cen-right .cen-card .cen-ava {
	text-align: center;
	width: 100%;
	height: auto;
	border-bottom: 1px solid rgb(216, 216, 216);
	background: url("../img/头像北京.png") no-repeat 100%;
	background-size: cover;
}
.cen-container .cen-right .cen-card .cen-ava img {
	margin: 1rem auto;
	width: auto;
	height: 3.5rem;
	padding: 1rem;
	background-color: #fff;
	border-radius: 50%;
}
.cen-container .cen-right .cen-card .cen-ava h3:nth-child(2) {
	margin: 0rem;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 800;
	margin-bottom: 0.5rem;
	color: rgb(245, 159, 0);
}
.cen-container .cen-right .cen-card .cen-ava h3:nth-child(3) {
	margin: 0rem;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 0.6rem;
	letter-spacing: 0.1rem;
	margin-bottom: 1.5rem;
}
.cen-container .cen-right .cen-card .infomation {
	width: 100%;
	height: auto;
}
.cen-container .cen-right .cen-card .infomation .calculate {
	width: 100%;
	height: auto;
	display: flex;
	border-bottom: 1px solid rgb(216, 216, 216);
}
.cen-container .cen-right .cen-card .infomation .calculate .data:nth-child(1) {
	border-right: 1px solid rgb(216, 216, 216);
}
.cen-container .cen-right .cen-card .infomation .calculate .data {
	width: 50%;
	height: auto;
	text-align: center;
	margin: 0.5rem auto;
}
.cen-container
	.cen-right
	.cen-card
	.infomation
	.calculate
	.data
	h3:nth-child(1) {
	margin: 0.1rem auto;
	color: rgb(212, 122, 18);
	font-size: 1.5rem;
}
.cen-container
	.cen-right
	.cen-card
	.infomation
	.calculate
	.data
	h3:nth-child(2) {
	margin: 0.1rem auto;
	color: rgb(56, 56, 56);
	font-size: 0.8rem;
}

.cen-container .cen-right .infomation .per-in {
	width: 100%;
	height: auto;
}
.cen-container .cen-right .infomation .per-in h3 {
	text-align: center;
	font-size: 0.9rem;
	color: rgb(48, 48, 48);
	padding: 0.3rem;
	margin: 0.3rem 0rem;
	border-bottom: 1px solid rgb(216, 216, 216);
}
.cen-container .cen-right .infomation .per-in:nth-last-child(1) h3 {
	border: none;
	height: 2.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
}
.cen-container .cen-right .infomation .per-in h3 a {
	text-decoration: none;
	color: rgb(173, 21, 21);
	transition: 0.3s ease-in-out;
}
.cen-container .cen-right .infomation .per-in h3 a:hover {
	color: rgb(245, 159, 0);
	transition: 0.3s ease-in-out;
}
.cen-container .cen-right .infomation .per-in h3 a:hover i {
	color: rgb(245, 159, 0);
	transition: 0.3s ease-in-out;
}
.cen-container .cen-right .infomation .per-in h3 a i {
	color: rgb(173, 21, 21);
	font-size: 1rem;
	font-weight: bolder;
	transition: 0.3s ease-in-out;
}
/* .cen-container .cen-right .cen-card .card-title {
	color: rgb(214, 13, 16);
	transition: 0.3s ease-in-out;
} */
.cen-container .cen-right .cen-card .card-title {
	width: 100%;
	height: 3.5rem;
	background-color: rgb(246, 246, 246);
	border-bottom: 1px solid rgb(235, 235, 235);
	display: flex;
	align-items: center;
	font-size: 1rem;
	transition: 0.3s ease-in-out;
}
.cen-container .cen-right .cen-card .card-title .line {
	width: 0.3rem;
	height: 1rem;
	margin-left: 0.9rem;
	background-color: rgb(214, 13, 16);
}

.cen-container .cen-right .cen-card .types {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	padding-top: 2rem;
}
.cen-container .cen-right .cen-card .types .icon-type {
	width: 32%;
	height: auto;
	text-align: center;
	margin: 0rem auto 1rem auto;
}
.cen-container .cen-right .cen-card .types .icon-type:hover {
	cursor: pointer;
}
.cen-container .cen-right .cen-card .types .icon-type:hover h3 {
	color: rgb(173, 21, 21);
}
.cen-container .cen-right .cen-card .types .icon-type i {
	font-size: 1.3rem;
	color: white;
	border-radius: 50%;
	padding: 0.8rem;
	background-color: rgb(173, 21, 21);
}
.cen-container .cen-right .cen-card .types .icon-type:nth-child(6) i {
	width: 100%;
	height: 100%;
	padding: 0.8rem 0.6rem !important;
}
.cen-container .cen-right .cen-card .types .icon-type h3 {
	font-size: 0.3rem;
	color: rgb(56, 56, 56);
	text-align: center;
	margin-top: 0.9rem;
}

footer {
	width: 100%;
	height: auto;
	margin-top: 3rem;
	padding: 1rem 0rem;
	box-shadow: 0px 0px 7px 5px rgb(216, 216, 216);
	background-color: #fff;
}
footer .information .logo {
	width: 20%;
	height: auto;
	display: flex;
	justify-content: space-around;
}
footer .information .logo img {
	width: 25%;
	height: auto;
	/* margin */
}
footer .information div {
	margin: 0rem auto;
	font-size: 0.8rem;
	text-align: center;
}
footer .information div h3 {
	color: rgb(104, 104, 104);
	margin: 0.8rem 0rem;
}

@media screen and (max-width: 768px) and (min-width: 375px) {
	.cen-container {
		margin: 1.3rem auto 1rem auto;
		width: 90%;
	}
	.cen-container .cen-left {
		width: 100%;
	}
	.cen-container .cen-right {
		width: 100%;
	}
	.cen-container .cen-left .header-card {
		width: 100%;
		height: auto;
	}
	.cen-container .cen-left .header-card .h-card {
		width: 100%;
		margin-bottom: 0.5rem;
		padding: 0.8rem 1.3rem;
	}
	.cen-container .cen-left .cen-down .down-header {
		border: 1px solid rgb(231, 231, 231);
	}
	.cen-container .cen-left .cen-down .task-list .task {
		width: 46%;
		height: auto;
		padding: 0.9rem 0.4rem;
	}
	/* .cen-container {
		display: flex;
	} */
	.cen-container .cen-left .cen-down .down-header {
		border: 1px solid rgb(231, 231, 231);
	}
	footer .information .logo {
		width: 40%;
	}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
	.cen-container {
		width: 80%;
	}
	.cen-container .cen-left {
		width: 60%;
	}
	.cen-container .cen-right {
		width: 38%;
	}

	.cen-container .cen-left .header-card {
		width: 100%;
		height: auto;
	}
	.cen-container .cen-left .header-card .h-card {
		width: 100%;
		margin-bottom: 0.5rem;
		padding: 0.8rem 1.3rem;
	}
	.cen-container .cen-left .cen-down .down-header {
		border: 1px solid rgb(231, 231, 231);
	}
	.cen-container .cen-left .cen-down .task-list .task {
		width: 100%;
		padding: 0.9rem 0.4rem;
	}
	footer .information .logo {
		width: 30%;
	}
}
@media screen and (max-width: 1228px) and (min-width: 992px) {
	.cen-container {
		width: 80%;
	}
	.cen-container .cen-left {
		width: 60%;
	}
	.cen-container .cen-right {
		width: 38%;
	}
	.cen-container .cen-left .header-card .h-card {
		width: 28%;
	}
}
@media screen and (max-width: 1474px) and (min-width: 1228px) {
	.cen-container .cen-left .header-card .h-card {
		width: 30%;
	}
}
@media screen and (min-width: 1474px) {
}
