body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	outline: none;
	font: 1rem "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC",
		"Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", 微软雅黑, STHeiti,
		"WenQuanYi Micro Hei", SimSun, sans-serif;
	/* background: url(../img/水墨3ps.png) no-repeat 100%; */
	background-size: cover;
	background-attachment: fixed;
}
.bgimg {
}
.first {
	width: 70%;
	height: auto;
	margin: 2rem auto;
}
.first a img {
	width: 100%;
	height: auto;
}
.history-container {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: auto;
	margin: 1rem auto;
}
.history-container .left-half {
	width: 70%;
	height: auto;
}
.history-container .left-half .list-header {
	font-size: 1.2rem;
	font-weight: bolder;
	width: 23%;
	border-radius: 0.2rem 0.2rem 0rem 0rem;
	padding: 0.2rem 0rem;
	text-align: center;
	color: white;
	background-color: rgb(214, 13, 16);
}
.history-container .left-half .list-bottom {
	width: 100%;
	height: 1px;
	padding-top: 1px;
	margin-bottom: 0.8rem;
	/* background-color: #fff; */
	border-top: 1px solid rgb(214, 13, 16);
	border-bottom: 0.2rem solid rgb(214, 13, 16);
}
.history-container .left-half .list-items .more-item {
	border: 1px solid rgb(216, 216, 216);
	display: block;
	width: 99%;
	height: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 2rem;
	padding: 0.3rem 0rem;
	text-align: center;
	background-color: #fff;
	border-radius: 0.2rem;
	cursor: pointer;
	font-size: 0.6rem;
	text-decoration: none;
	color: rgb(48, 48, 48);
}
.history-container .left-half .list-items a:nth-child(1) {
	border-top: 1px solid rgb(216, 216, 216);
}
.history-container .left-half .list-items a {
	position: relative;
	text-decoration: none;
	color: rgb(87, 87, 87);
	border-bottom: 1px solid rgb(216, 216, 216);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 3rem;
	background-color: #fff;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.history-container .left-half .list-items a span {
	width: 70%;
	height: auto;
	margin: 0rem 0.8rem;
}
.history-container .left-half .list-items a span:nth-child(2) {
	width: 20%;
	text-align: right;
	height: auto;
}
.history-container .left-half .list-items a:hover {
	color: rgb(214, 13, 16);
	box-shadow: 0px 0px 5px 5px rgb(216, 216, 216);
	transition: 0.3s ease-in-out;
	z-index: 2;
}
.history-container .left-half .list-items .more-item:hover {
	color: rgb(214, 13, 16);
	box-shadow: 0px 0px 7px 4px rgb(216, 216, 216);
}
.history-container .right-half {
	width: 25%;
	height: auto;
}
.history-container .right-half .list-header {
	font-size: 1.2rem;
	font-weight: bolder;
	width: 100%;
	border-radius: 0.2rem 0.2rem 0rem 0rem;
	padding: 0.2rem 0rem;
	text-align: center;
	color: white;
	background-color: rgb(214, 13, 16);
}
.history-container .right-half .list-bottom {
	width: 100%;
	height: 1px;
	padding-top: 1px;
	margin-bottom: 0.8rem;
	/* background-color: #fff; */
	border-top: 1px solid rgb(214, 13, 16);
	border-bottom: 0.2rem solid rgb(214, 13, 16);
}

.history-container .right-half .list-items a:nth-child(1) {
	border-top: 1px solid rgb(216, 216, 216);
}
.history-container .right-half .list-items a {
	position: relative;
	text-decoration: none;
	color: rgb(87, 87, 87);
	border-bottom: 1px solid rgb(216, 216, 216);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 3rem;
	background-color: #fff;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.history-container .right-half .list-items a span {
	width: 100%;
	/* height: auto; */
	text-indent: 0.8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
}
.history-container .right-half .list-items a:hover {
	color: rgb(214, 13, 16);
	box-shadow: 0px 0px 5px 5px rgb(216, 216, 216);
	transition: 0.3s ease-in-out;
	z-index: 2;
}

footer {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 3rem;
	padding: 1rem 0rem;
	box-shadow: 0px 0px 7px 5px rgb(216, 216, 216);
	background-color: #fff;
}
footer .information .logo {
	width: 30%;
	height: auto;
	display: flex;
	justify-content: space-around;
}
footer .information .logo img {
	width: 20%;
	height: auto;
	/* margin */
}
footer .information div {
	margin: 0rem auto;
	font-size: 0.8rem;
	text-align: center;
}
footer .information div h3 {
	color: rgb(104, 104, 104);
	margin: 0.8rem 0rem;
}

@media screen and (max-width: 768px) and (min-width: 375px) {
	.first {
		width: 90%;
		margin: 0.5rem auto;
	}
	.history-container {
		width: 90%;
		margin: 0.3rem auto;
	}
	.history-container .left-half {
		width: 100%;
		margin: 1rem auto 0.3rem auto;
	}
	.history-container .right-half {
		width: 100%;
		margin: 0.3rem auto 1rem auto;
	}
	footer .information .logo {
		width: 40%;
		height: auto;
		display: flex;
		justify-content: space-around;
	}
	footer .information .logo img {
		width: 30%;
		height: auto;
		/* margin */
	}
	footer .information .logo img {
		width: 3rem;
		height: auto;
	}

	footer .information div {
		margin: 0rem auto;
		font-size: 0.6rem;
		text-align: center;
	}
	footer .information div h3 {
		color: rgb(104, 104, 104);
		margin: 0.6rem 0rem;
	}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
	.first {
		margin: 0.8rem auto;
	}
	.history-container {
		margin: 0.5rem auto;
	}
	.history-container .left-half {
		width: 100%;
		margin: 1rem auto 0.3rem auto;
	}
	.history-container .right-half {
		width: 100%;
		margin: 0.3rem auto 1rem auto;
	}
	footer .information .logo img {
		width: 8vw;
		height: auto;
		/* margin */
	}
}
@media screen and (max-width: 1228px) and (min-width: 992px) {
}
@media screen and (max-width: 1474px) and (min-width: 1228px) {
}
@media screen and (min-width: 1474px) {
}
