body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	outline: none;
	font: 1rem "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC",
		"Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", 微软雅黑, STHeiti,
		"WenQuanYi Micro Hei", SimSun, sans-serif;
	background: url(../img/水墨3ps.png) no-repeat 100%;
	background-size: cover;
	background-attachment: fixed;
}
.header {
	width: 100%;
	height: 15vw;
	background-color: rgb(143, 180, 163);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header .logo {
	width: 40%;
	height: auto;
	text-align: right;
}
.header .logo img {
	width: 70%;
	height: auto;
}
.header .logo h3 {
	width: 80%;
	color: white;
	text-align: right;
	margin: 0;
}
.header .xiWords {
	width: 40%;
	height: auto;
	text-align: left;
}
.header .xiWords img {
	width: 60%;
	height: auto;
}
.logCon {
	width: 80%;
	height: 80%;
	margin: 1rem auto;
	display: flex;
	flex-wrap: wrap;
}
.logCon .joinWords {
	position: relative;
	margin: 0 auto;
	width: 50vw;
	height: 32vw;
	background: url(../img/登录页背景图.gif) no-repeat 100%;
	background-size: cover;
	overflow: hidden;
}
.logCon .joinWords .partlogo {
	position: absolute;
	top: 3rem;
	left: 5rem;
}
.logCon .joinWords .partlogo img {
	width: 60%;
	height: auto;
}
.logCon .joinWords .moveitem {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 25rem;
	opacity: 0;
	animation: moveUp 6s ease-in forwards;
}
@keyframes moveUp {
	0% {
		top: 25rem;
		opacity: 0;
	}
	100% {
		top: 5rem;
		opacity: 1;
	}
}
.logCon .joinWords .moveitem .title {
	width: 80%;
	height: auto;
	text-align: center;
	margin-bottom: 2rem;
}
.logCon .joinWords .moveitem .title img {
	width: 30%;
	height: auto;
}
.logCon .joinWords .moveitem .words {
	text-indent: 4rem;
	font-size: 1.7rem;
	padding: 1rem 5rem;
	color: #88ad86;
}

.logCon .login-input {
	width: 30%;
	height: 30rem;
	background-color: #fff;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 1rem;
	transition: 0.3s ease-in-out;
}
.logCon .login-input:hover {
	transition: 0.3s ease-in-out;
	box-shadow: 0px 0px 6px 5px rgb(230, 230, 230);
}
.logCon .login-input h2 {
	margin: 0rem auto;
	padding: 2rem 0rem;
	text-align: center;
	font-size: 2rem;
	color: rgb(132, 179, 144);
	border-bottom: 1px solid rgb(216, 216, 216);
}
.logCon .login-input .username {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem auto;
	width: 88%;
	height: 3rem;
	/* background-color: ; */
	border: 1px solid rgb(216, 216, 216);
	border-radius: 1rem;
}
#iconCss {
	font-size: 1.5rem;
	padding: 0rem 0.5rem;
	color: rgb(132, 179, 144);
}
.logCon .login-input .password {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem auto;
	width: 88%;
	height: 3rem;
	/* background-color: ; */
	border: 1px solid rgb(216, 216, 216);
	border-radius: 1rem;
}
.inputCss {
	width: 80%;
	outline: none;
	border: none;
	background-color: none;
	margin-left: 0.4rem;
	font-size: 1rem;
}
input[type="text"]:focus,
input[type="password"]:focus {
	border-bottom: 1px solid rgb(132, 179, 144);
}
/* .logCon .login-input .username,
.logCon .login-input .password,
input[type="text"]:focus,
input[type="password"]:focus {
	border: 1px solid rgb(214, 13, 16);
} */
.logCon .btn {
	width: 88%;
	height: 3rem;
	color: white;
	margin: 1rem auto 0rem auto;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(132, 179, 144);
	transition: 0.3s ease-in-out;
}
.logCon .btn:hover {
	cursor: pointer;
	color: #facb30;
	transition: 0.3s ease-in-out;
}
.logCon .btn i {
	font-size: 1.5rem;
}
.logCon .forget {
	text-align: center;
	margin-top: 4.3rem;
	font-size: 0.8rem;
}
.logCon .forget:hover {
	cursor: pointer;
	color: rgb(132, 179, 144);
}

footer {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 3rem;
	padding: 1rem 0rem;
	box-shadow: 0px 0px 7px 5px rgb(216, 216, 216);
	background-color: #fff;
}
footer .information .logo {
	width: 20%;
	height: auto;
	display: flex;
	justify-content: space-around;
}
footer .information .logo img {
	width: 6vw;
	height: auto;
	/* margin */
}
footer .information div {
	margin: 0rem auto;
	font-size: 0.8rem;
	text-align: center;
}
footer .information div h3 {
	color: rgb(104, 104, 104);
	margin: 0.8rem 0rem;
}

.fadeOut {
	animation: becomeOpacity 1.5s ease forwards;
}
.fadeIn {
	animation: becomeUnopacity 1.5s ease forwards;
}

.success-message {
	z-index: 3;
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(240, 249, 235);
	border: 1px solid rgb(236, 247, 230);
	color: rgb(116, 197, 92);
	width: 18%;
	height: auto;
	border-radius: 0.3rem;
}
.success-message img {
	width: 20px;
	height: auto;
	margin-right: 0.4rem;
}
.success-message h3 {
	width: auto;
	text-align: center;
	font-size: 0.8rem;
}

.warning-message {
	z-index: 3;
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(253, 246, 236);
	border: 1px solid rgb(252, 243, 231);
	color: rgb(132, 179, 143);
	width: 18%;
	height: auto;
	border-radius: 0.3rem;
}
.warning-message img {
	width: 20px;
	height: auto;
	margin-right: 0.4rem;
}
.warning-message h3 {
	width: auto;
	text-align: center;
	font-size: 0.8rem;
}
.message-fadeIn {
	animation: fadeIn 0.5s ease forwards;
}
.message-fadeOut {
	animation: fadeOut 0.5s ease forwards;
}
@keyframes becomeOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes becomeUnopacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		top: 2rem;
	}
	100% {
		opacity: 1;
		top: 4rem;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
		top: 4rem;
	}
	100% {
		opacity: 0;
		top: 2rem;
	}
}
/* @media screen and (max-width: 768px) and (min-width: 375px) {}
@media screen and (max-width: 992px) and (min-width: 768px) {}
@media screen and (max-width: 1228px) and (min-width: 992px) {}
@media screen and (max-width: 1474px) and (min-width: 1228px) {}
@media screen and (min-width: 1474px) {} */

@media screen and (max-width: 768px) and (min-width: 375px) {
	.header {
		height: 25vw;
	}
	.header .logo img {
		width: 100%;
	}
	.logCon {
		width: 90%;
	}
	.logCon .joinWords {
		width: 90vw;
		height: 54vw;
	}
	.logCon .login-input {
		width: 100%;
		margin: 1rem auto;
	}
	.logCon .joinWords .partlogo {
		position: absolute;
		top: 1.5rem;
		left: 2.5rem;
	}
	.logCon .joinWords .partlogo img {
		width: 45%;
		height: auto;
	}
	.logCon .joinWords .moveitem {
		top: 20rem;
		animation: moveUp 6s ease-in forwards;
	}
	.logCon .joinWords .moveitem .title {
		margin-bottom: 0rem;
	}
	.logCon .joinWords .moveitem .words {
		padding: 1rem 2rem;
		font-size: 1.2rem;
	}
	@keyframes moveUp {
		0% {
			top: 25rem;
			opacity: 0;
		}
		100% {
			top: 3rem;
			opacity: 1;
		}
	}
	footer .information .logo {
		width: 40%;
		height: auto;
		display: flex;
		justify-content: space-around;
	}
	footer .information .logo img {
		width: 10vw;
		height: auto;
		/* margin */
	}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
	.logCon {
		width: 70%;
	}
	.logCon .joinWords {
		width: 60vw;
		height: 36vw;
	}
	.logCon .joinWords .partlogo {
		position: absolute;
		top: 2rem;
		left: 3rem;
	}
	.logCon .login-input {
		width: 85%;
		margin: 2rem auto;
	}
	.logCon .joinWords .partlogo img {
		width: 50%;
		height: auto;
	}
	.logCon .joinWords .moveitem {
		top: 20rem;
	}
	.logCon .joinWords .moveitem .title {
		margin-bottom: 0rem;
	}
	.logCon .joinWords .moveitem .words {
		padding: 1rem 2rem;
		font-size: 1.2rem;
	}
	footer .information .logo img {
		width: 8vw;
		height: auto;
		/* margin */
	}
}
@media screen and (max-width: 1228px) and (min-width: 992px) {
	.logCon {
		width: 70%;
	}
	.logCon .joinWords {
		width: 60vw;
		height: 36vw;
	}
	.logCon .login-input {
		width: 85%;
		margin: 2rem auto;
	}
	.logCon .joinWords .moveitem .words {
		padding: 1rem 3rem;
	}
}
@media screen and (max-width: 1474px) and (min-width: 1228px) {
	/* .logCon {
		width: 70%;
	}
	.logCon .joinWords {
		width: 60vw;
		height: 36vw;
	}
	.logCon .login-input {
		width: 70%;
		margin: 2rem auto;
	} */
}
@media screen and (min-width: 1474px) {
}
