body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	outline: none;
	font: 1rem "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC",
		"Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", 微软雅黑, STHeiti,
		"WenQuanYi Micro Hei", SimSun, sans-serif;
}
nav::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 5.5rem;
	background-image: linear-gradient(
		to right,
		rgba(146, 25, 25, 1) 21%,
		rgba(172, 28, 28, 0.2) 40%,
		rgb(146, 25, 25) 85%
	);
}
nav {
	position: -webkit-sticky;
	position: sticky; /*兼容*/
	top: 0;
	left: 0;
	/* position: relative; */
	width: 100%;
	background: url(../img/头背景2.png) no-repeat;
	background-size: 70% auto;
	background-position: 50% 60%;
	display: flex;
	/* flex-wrap: wrap; */
	align-items: center;
	justify-content: space-between;
	height: 5.5rem;
	/* padding: 0 100px; */
	z-index: 10;
	/* transition: 0.3s; */
}
nav .user {
	color: white;
	width: 35%;
	z-index: 5;
	display: flex;
	justify-content: flex-end;
	/* transition: 0.3s; */
}
nav .user .userlogin {
	width: auto;
	height: 2rem;
	display: flex;
	margin-right: 5rem;
	align-items: center;
	justify-content: right;
	/* transition: 0.3s; */
}
nav .user .userlogin a:nth-child(1) img {
	margin-right: 0.8rem;
	width: 2rem;
	height: 2rem;
	background: white;
	border-radius: 50%;
	/* transition: 0.3s; */
}
nav .user .userlogin a:nth-child(2) {
	color: white;
	text-decoration: none;
	/* transition: 0.3s; */
}
nav .user .userlogin a:nth-child(3) {
	display: none;
	/* transition: 0.3s; */
}
nav .user .userlogin a:hover {
	color: rgb(245, 220, 0);
	/* transition: 0.3s ease-in-out; */
}

nav .logo {
	z-index: 5;
	height: 5.5rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	transition: 0.3s;
}
nav .logo img {
	width: auto;
	padding: 0.4rem 2.5rem;
	border-radius: 0px 0px 1.2rem 1.2rem;
	/* background-color: #b62424; */
	background-color: rgb(165, 0, 0);
	height: 95%;
	box-shadow: 0px 0px 0.8rem 0.3rem rgba(0, 0, 0, 0.445);
}
nav .search {
	z-index: 5;
	width: 35%;
	display: flex;
	justify-content: flex-start;
	/* transition: 0.3s; */
}
nav .search .sput {
	display: flex;
	width: 40%;
	height: 2.1rem;
	margin-left: 5rem;
	background-color: #fff;
	justify-content: center;
	align-items: center;
	padding: 0rem 0.5rem;
	/* transition: 0.3s; */
}
nav .search .sput input {
	border: none;
	width: 80%;
	/* transition: 0.3s; */
}
nav .search .sput input:focus {
	outline: none;
}
nav .search .sput .icon {
	width: 1.3rem;
	height: 1.3rem;
	margin: 0.2rem 0rem 0rem 0.2rem;
	background: url(../icon/搜索.png) no-repeat 50%;
	background-size: cover;
	/* transition: 0.3s; */
}

.navbar {
	position: -webkit-sticky;
	position: sticky; /*兼容*/
	top: 5.5rem;
	left: 0;
	width: 100%;
	height: 4.5rem;
	background: white;
	box-shadow: 0px 0px 0.8rem 0.3rem rgba(0, 0, 0, 0.137);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9;
	/* transition: 0.3s; */
}
.navbar ul {
	padding: 0;
	margin: 0;
	z-index: 9;
}
.navbar ul a {
	/* width: auto; */
	height: 2.5rem;
	text-decoration: none;
	color: black;
	font-size: 0.8rem;
	padding: 0rem 3rem;
	text-shadow: 0rem 0rem 0.2rem rgba(24, 24, 24, 0.356);
}
.navbar ul a:hover {
	/* background: url(../img/btnbg.png) no-repeat 50%; */
	/* background-size: 100% auto; */
	color: chocolate;
	/* border-radius: 0.9rem; */
	transition: 0.3s !important;
}
.active {
	/* background-color: red; */
	background: url(../img/btnbg.png) no-repeat 100%;
	background-size: cover;
	color: white !important;
	/* border-radius: 0.9rem; */
	box-shadow: -0.2rem 0.2em 0.2rem 0.1rem rgb(170, 170, 170);
	/* transition: 0.3s ease-in-out; */
}
.navbar .nav-menu {
	display: flex;
	width: 60%;
	height: 2.7rem;
	line-height: 2.9rem;
	justify-content: space-between;
	/* 最宽550px */
	/* max-width: 550px; */
}

.navbar li {
	list-style: none;
	font-weight: 600;
}

.burger div {
	/* 设置汉堡按钮三层条 */
	width: 1.8rem;
	height: 0.2rem;
	background-color: rgb(255, 221, 205);
	margin: 0.3rem;
	padding: 0.1rem 0.2rem;
}
.burger {
	display: none;
	cursor: pointer;
}

.bgimg {
	/* position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/水墨3ps.png) no-repeat 100%;
	background-size: cover;
	background-attachment: fixed; */
}

.fadeOut {
	animation: becomeOpacity 1.5s ease forwards;
}
.fadeIn {
	animation: becomeUnopacity 1.5s ease forwards;
}

.success-message {
	z-index: 3;
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(240, 249, 235);
	border: 1px solid rgb(236, 247, 230);
	color: rgb(116, 197, 92);
	width: 18%;
	height: auto;
	border-radius: 0.3rem;
}
.success-message img {
	width: 20px;
	height: auto;
	margin-right: 0.4rem;
}
.success-message h3 {
	width: auto;
	text-align: center;
	font-size: 0.8rem;
}

.warning-message {
	z-index: 3;
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(253, 246, 236);
	border: 1px solid rgb(252, 243, 231);
	color: rgb(232, 160, 60);
	width: 18%;
	height: auto;
	border-radius: 0.3rem;
}
.warning-message img {
	width: 20px;
	height: auto;
	margin-right: 0.4rem;
}
.warning-message h3 {
	width: auto;
	text-align: center;
	font-size: 0.8rem;
}
.message-fadeIn {
	animation: fadeIn 0.5s ease forwards;
}
.message-fadeOut {
	animation: fadeOut 0.5s ease forwards;
}

@keyframes becomeOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes becomeUnopacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		top: 2rem;
	}
	100% {
		opacity: 1;
		top: 11rem;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
		top: 11rem;
	}
	100% {
		opacity: 0;
		top: 2rem;
	}
}
