nav {
	position: fixed;
	top: 0rem;
}
.navbar {
	position: fixed;
}

.header-img {
	width: 70%;
	height: auto;
	margin: 12rem auto 0rem auto;
}
.header-img a img {
	width: 100%;
	height: auto;
}

.theo-container {
	width: 70%;
	height: auto;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	margin: 0.5rem auto 3rem auto;
}
.theo-container .left-half {
	width: 67%;
	height: auto;
}
.theo-container .left-half .head-img {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.theo-container .left-half .head-img .imgUrl {
	width: 48%;
	height: 100%;
	overflow: hidden;
	transition: 0.3s ease-in-out;
}
.theo-container .left-half .head-img .imgUrl a {
	width: 100%;
	height: 100%;
	display: block;
	align-items: center;
}
.theo-container .left-half .head-img .imgUrl a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.3s ease-in-out;
}
.theo-container .left-half .head-img .imgUrl:hover {
	/* overflow: hidden; */
	transition: 0.3s ease-in-out;
	box-shadow: 0px 0px 5px 5px rgb(216, 216, 216);
}
.theo-container .left-half .head-img .imgUrl:hover a img {
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
}

.theo-container .left-half .list-header {
	font-size: 1.2rem;
	font-weight: bolder;
	width: 73%;
	border-radius: 0.2rem 0.2rem 0rem 0rem;
	margin-top: 1rem;
	padding: 0.2rem 0rem;
	text-align: center;
	color: white;
	background-color: rgb(148, 215, 181);
}
.theo-container .left-half .list-bottom {
	width: 100%;
	height: 1px;
	padding-top: 1px;
	margin-bottom: 0.8rem;
	/* background-color: #fff; */
	border-top: 1px solid rgb(133, 165, 141);
	border-bottom: 0.2rem solid rgb(133, 165, 141);
}
.theo-container .left-half .list-items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.theo-container .left-half .list-items .list-item {
	cursor: pointer;
	width: 100%;
	margin: 0.3rem 0rem;
	border-radius: 0.5rem;
	overflow: hidden;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s ease-in-out;
}
.theo-container .left-half .list-items .list-item:hover {
	color: rgb(131, 168, 142);
	background-color: #fff;
	transition: 0.3s ease-in-out;
}
.theo-container .left-half .list-items .list-item div {
	width: 49%;
	height: 100%;
	font-size: 1.5rem;
	font-weight: bolder;
	overflow: hidden;
}
.theo-container .left-half .list-items .list-item div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.3s ease-in-out;
}
.theo-container .left-half .list-items .list-item:hover div img {
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
}

.theo-container .left-half .list-items .li-item {
	width: 90%;
	height: auto;
	padding: 0.8rem 0rem;
}
.theo-container .left-half .list-items .li-item a {
	font-size: 1.4rem;
	font-weight: bolder;
	color: rgb(68, 68, 68);
	text-decoration: none;
	transition: 0.3s ease-in-out;
}
.theo-container .left-half .list-items .li-item a:hover {
	color: rgb(131, 168, 142);
	transition: 0.3s ease-in-out;
}

.theo-container .right-half {
	width: 30%;
}
.theo-container .right-half .type {
	width: 100%;
	height: auto;
	border-radius: 0.2rem;
	background-color: #fff;
	transition: 0.3s ease-in-out;
}
.theo-container .right-half .type:hover {
	/* color: rgb(214, 13, 16); */
	box-shadow: 0px 0px 5px 5px rgb(216, 216, 216);
	transition: 0.3s ease-in-out;
}
.theo-container .right-half .type .card-title {
	width: 100%;
	height: 3.2rem;
	background-color: rgb(246, 246, 246);
	border-bottom: 1px solid rgb(235, 235, 235);
	display: flex;
	align-items: center;
	font-size: 1.1rem;
	transition: 0.3s ease-in-out;
}
.theo-container .right-half .type .card-title .line {
	width: 0.3rem;
	height: 1.3rem;
	margin-left: 0.7rem;
	background-color: rgb(133, 165, 141);
}
.theo-container .right-half .type .down {
	width: 100%;
	height: auto;
	padding: 0.5rem 0rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
.theo-container .right-half .type .down .head-img{
	width: 100%;
	height: auto;
}
.theo-container .right-half .type .down .head-img .imgUrl {
	/*width: 100%;*/
	height: 100%;
	overflow: hidden;
	transition: 0.3s ease-in-out;
}
.theo-container .right-half .type .down a {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: rgb(68, 68, 68);
	text-decoration: none;
	transition: 0.3s ease-in-out;
}
.theo-container .right-half .type .down a:hover {
	transform: scale(1.1);
	color: rgb(131, 168, 142);
	transition: 0.3s ease-in-out;
}
.theo-container .right-half .type .down a:hover img {
	transform: scale(1.1);
	color: rgb(133, 165, 141);
	transition: 0.3s ease-in-out;
}
.theo-container .right-half .type .down .type-icon {
	width: 30%;
	/* padding: 0.5rem 0.5rem; */
	font-size: 0.8rem;
	text-align: center;
}
.theo-container .right-half .type .down .type-icon img {
	transition: 0.3s ease-in-out;
	width: 50%;
	height: auto;
	padding: 0.5rem 0rem;
	height: auto;
}
.theo-container .right-half .type .down .type-icon span {
	width: 100%;
	text-align: center;
}

footer {
	width: 100%;
	height: auto;
	margin-top: 3rem;
	padding: 1rem 0rem;
	box-shadow: 0px 0px 7px 5px rgb(216, 216, 216);
	background-color: #fff;
}
footer .information .logo {
	width: 20%;
	height: auto;
	display: flex;
	justify-content: space-around;
}
footer .information .logo img {
	width: 25%;
	height: auto;
	/* margin */
}
footer .information div {
	margin: 0rem auto;
	font-size: 0.8rem;
	text-align: center;
}
footer .information div h3 {
	color: rgb(104, 104, 104);
	margin: 0.8rem 0rem;
}

@media screen and (max-width: 768px) and (min-width: 375px) {
	.header-img {
		width: 90%;
		margin-top: 6.5rem;
	}
	.theo-container {
		width: 90%;
	}
	.theo-container .right-half {
		width: 100%;
	}
	.theo-container .right-half .type {
		border: 1px solid rgb(216, 216, 216);
		margin-bottom: 0.8rem;
	}
	.theo-container .right-half .type .down .type-icon {
		height: auto;
	}
	.theo-container .left-half {
		width: 100%;
	}
	.theo-container .left-half .list-items .list-item {
		width: 90%;
		/* background-color: rgb(216, 216, 216); */
		border: 1px solid rgb(216, 216, 216);
	}
	.theo-container .left-half .list-items .list-item:hover {
		/* background-color: rgb(216, 216, 216); */
		box-shadow: 0px 0px 5px 5px rgb(216, 216, 216);
	}

	footer .information .logo {
		width: 40%;
		height: auto;
		display: flex;
		justify-content: space-around;
	}
	footer .information .logo img {
		width: 25%;
		height: auto;
		/* margin */
	}
	footer .information div {
		margin: 0rem auto;
		font-size: 0.5rem;
		text-align: center;
	}
	footer .information div h3 {
		color: rgb(104, 104, 104);
		margin: 0.6rem 0rem;
	}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
	.header-img {
		width: 80%;
		margin-top: 6.5rem;
	}
	.theo-container {
		width: 80%;
	}
	.theo-container .right-half {
		width: 100%;
		float: left;
	}
	.theo-container .right-half .type {
		border: 1px solid rgb(216, 216, 216);
		margin-bottom: 1rem;
	}
	.theo-container .right-half .type .down .type-icon {
		height: auto;
	}
	.theo-container .left-half {
		width: 100%;
		float: right;
	}
	.theo-container .left-half .list-items .list-item {
		width: 45%;
		/* background-color: rgb(216, 216, 216); */
		border: 1px solid rgb(216, 216, 216);
	}
	.theo-container .left-half .list-items .list-item:hover {
		/* background-color: rgb(216, 216, 216); */
		box-shadow: 0px 0px 5px 5px rgb(216, 216, 216);
	}
	footer .information .logo {
		width: 20%;
		height: auto;
		display: flex;
		justify-content: space-around;
	}
	footer .information .logo img {
		width: 25%;
		height: auto;
		/* margin */
	}
}
@media screen and (max-width: 1228px) and (min-width: 992px) {
	.theo-container .left-half .list-items .list-item {
		width: 100%;
		height: 5rem;
		padding: 0.2rem 0rem;
		margin: 0rem;
		background-color: #fff;
		border-radius: 0.1rem;
		border-bottom: 1px solid rgb(216, 216, 216);
	}
	.theo-container .left-half .list-items .list-item:hover {
		position: relative;
		box-shadow: 0px 0px 5px 5px rgb(216, 216, 216);
	}
	/* .theo-container .left-half .list-items .list-item {

 } */
}
@media screen and (max-width: 1474px) and (min-width: 1228px) {
}
@media screen and (min-width: 1474px) {
}
