<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../static/css/first/navbar.css" />
    <link rel="stylesheet" href="../../static/css/first/reponse_glo.css" />
    <link rel="stylesheet" href="../../static/css/first/alifont.css" />
    <link rel="stylesheet" href="../../static/css/first/navbar.css" />
    <link rel="stylesheet" href="../../static/css/first/index.css" />
    <link rel="stylesheet" href="../../static/css/first/css.css" />
    <link rel="stylesheet" href="../../static/css/first/reponse_glo.css" />
    <link rel="stylesheet" href="../../static/css/first/common.css" />

    <link rel="stylesheet" href="../../static/css/first/center.css" />
    <title>梅岭社区 颐养中心</title>
    <style>
        body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../../static/images/img/水墨3ps.png) no-repeat 100%;
            background-size: cover;
            background-attachment: fixed;
            /* z-index: -1; */
        }
    </style>
</head>
<body>
    <div class="bgimg">
        <nav>
            <div class="user">
                <a href=""><img src="../../static/images/first/logo1.png" alt="" /></a>
            </div>
            <!--				<div class="logo"><img src="img/广软_长白.png" alt="" /></div>-->
            <div class="search">
                <div class="sput">
                    <input
                            type="text"
                            name="search"
                            placeholder="搜索内容"
                            id="searchContent"
                    />
                    <a href="#"><div class="icon"></div></a>
                    <!-- <img src="../../static/images/icon/搜索.png" alt="" /> -->
                </div>
                <!-- 汉堡按钮 -->
                <div class="burger" id="toggle" onclick="navVisi()">
                    <div class="top-line"></div>
                    <div class="middle-line"></div>
                    <div class="bottom-line"></div>
                </div>
            </div>
        </nav>
        <div class="navbar">
            <ul id="visiable" class="nav-menu">
                <a href="index.html">
                    <li>
                        <i class="iconfont icon-shouye"></i>
                        首页
                    </li>
                </a>
                <a href="learn.html">
                    <li>
                        <i class="iconfont icon-lishi"></i>
                        梅岭动态
                    </li>
                </a>
                <a href="theorystudy.html">
                    <li>
                        <i class="iconfont icon-lilunxuexi"></i>
                        百科问答
                    </li>
                </a>
                <a href="organization.html">
                    <li>
                        <i class="iconfont icon-zixun"></i>
                        健康养生
                    </li>
                </a>
                <a>
                    <li>
                        <i class="iconfont icon-deploymentunit"></i>
                        养老社区
                    </li>
                </a>
                <a class="active" href="javascript:;">
                    <li>
                        <i class="iconfont icon-gerenzhongxin"></i>
                        关于我们
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="train_banner" id="swiper">
            <ul class="banner_images clearfix">
                <li>
                    <a href="index.html" target="_target">
                        <img src="../../static/images/first/banner5.jpg" alt=""/>
                    </a>
                </li>
            </ul>
        </div>
        <main class="main">
            <div class="main-nav-p tac pt25 pb20">
                <div class="">
                    <ul class="clearfix">

                        <li class="cur">
                            <h3><a href="">中心简介</a></h3>
                        </li>

                        <li>
                            <h3><a href="center2.html">中心架构</a></h3>
                        </li>

                        <li>
                            <h3><a href="center3.html">愿景使命</a></h3>
                        </li>

                        <li>
                            <h3><a href="center4.html">中心荣誉</a></h3>
                        </li>

                        <li>
                            <h3><a href="center5.html">园区剪影</a></h3>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>

    <div class="cen-container">
        <div style="margin: 20px;">
            <br>
            <br>
            <span style="font-size: 20px;font-family: Tahoma,Geneva,sans-serif;">梅岭社区颐养中心（以下简称“颐养中心”）于2001年8月经民政部门批准设立，是一家“民间投资，政府扶持，市场运作，公益性质”的民办非企业，由长沙九洲投资集团投资开发建设，是综合性养老项目的重要组成部分。秉承“帮天下儿女敬孝，让世上老人享福，为党和政府分忧”的宗旨，颐养中心经数年悉心经营，荣膺多项典范荣誉，精心打造出首个“湖南省养老示范工程”，获评“省级养老服务业综合发展示范基地”。</span>
            <br>
            <br>
            <span style="font-size: 20px;font-family: Tahoma,Geneva,sans-serif;">颐养中心遵循“尊荣、现代、时尚、生态”的规划理念,将公园式的环境,家庭式的居住,酒店式的服务融合在一起，实现“在家是宾馆,出门是公园,就诊有医院,护理在家园,设施现代化，服务亲情化”。</span>
            <br>
            <br>
            <span style="font-size: 20px;font-family: Tahoma,Geneva,sans-serif;">颐养中心引进美国CCRC持续照料退休社区理念，全力打造CCRC 3+1养老模式，实行会员制经营管理。社区内约建1800户老年住宅，并配套约20000㎡的生活、文化和商业中心，与之毗邻的常州金东方医院和常州金东方护理院同属金东方养老配套设施，各设500张床位，为老年人提供便捷、专业、周到、贴心的医护服务。金东方颐养中心、金东方医院和金东方护理院三位一体，完美实现现代养老住区的医养康护一体化布局。</span>
            <br>
            <br>
            <span style="font-size: 20px;font-family: Tahoma,Geneva,sans-serif;">颐养中心内绿树成荫，环境宜人，载植200余种各类乔木、灌木和花草，绿化率达52%，其中7500㎡的“迷你”高尔夫球场生态与活力兼具，“动”“静”皆可入画；10000㎡人工湖将人与景观完美相融，湖心岛上各种家禽动物无拘伺养、繁衍生息。湖畔13000㎡的中央会所，内设营养餐厅、老年大学、茶吧、图书馆、阳光房、佛堂、基督教堂、恒温泳池，健身房、棋牌室、台球室、乒乓球室、台球室、儿童乐园、理发室、桑拿浴室、书画室、舞蹈室、摄影室、手工坊、钢琴室等30多种功能房，为社区老人提供“一站式、一条龙、全方位、全天候”服务。</span>
            <br>
            <br>
            <span style="font-size: 20px;font-family: Tahoma,Geneva,sans-serif;">颐养中心设立社区党支部、居委会、侨联等机构，成立金东方颐养文化研究会、文体俱乐部和艺术团，下设茶艺、摄影、书画、聊天养生、舞蹈、戏曲、乐器、手工、牌类、球类、游泳、钓鱼等近40个协会，让老人充分感受“老有所依、老有所学、老有所乐”的精彩晚年生活之余，也让金东方的文化养老特色更加闻名遐迩</span>
            <br>
            <br>
            <span style="font-size: 20px;font-family: Tahoma,Geneva,sans-serif;">梅岭社区颐养中心在探索实践中得到了各级政府和主管部门的指导与关怀，在践行中不断成长，取得了一些成绩。秉承“居家养老、文化养生、专业服务、医养融合”的经营理念，致力为长三角乃至全国的老年人提供一个幸福、温馨、和谐的新家园,打造出中国第一、国际接轨、世界一流的绿色生态高品质银发养生社区。</span>
        </div>
    </div>
<footer>
    <div class="information">
        <div class="logo">
            <img src="img/广软_圆标.png" alt="" />
            <img src="img/favicon.png" alt="" />
        </div>
        <div>
            <h3>服务电话：17876374525&nbsp;&nbsp;&nbsp;个人微信：Kazanin9898</h3>
        </div>
        <div>
            <h3>
                网络技术系 网络工程 网传2班
                铃酱版权所有&nbsp;&nbsp;&nbsp;未经授权禁止商用
            </h3>
        </div>
        <div><h3>Copyright© 2018-2022 by ling98 all rights reserved</h3></div>
    </div>
</footer>

<script src="../../static/js/response.js"></script>
<script>
    function toIndex() {
        window.location.href = "index.html";
    }
</script>
</body>
</html>
