<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../static/css/first/navbar.css" />
    <link rel="stylesheet" href="../../static/css/first/reponse_glo.css" />
    <link rel="stylesheet" href="../../static/css/first/alifont.css" />
    <link rel="stylesheet" href="../../static/css/first/navbar.css" />
    <link rel="stylesheet" href="../../static/css/first/index.css" />
    <link rel="stylesheet" href="../../static/css/first/css.css" />
    <link rel="stylesheet" href="../../static/css/first/reponse_glo.css" />
    <link rel="stylesheet" href="../../static/css/first/common.css" />
    <link rel="stylesheet" href="../../static/css/first/center.css" />
    <title>梅岭社区 颐养中心</title>
    <style>
        body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../../static/images/img/水墨3ps.png) no-repeat 100%;
            background-size: cover;
            background-attachment: fixed;
            /* z-index: -1; */
        }
    </style>
</head>
<body>
<div class="bgimg">
    <nav>
        <div class="user">
            <a href=""><img src="../../static/images/first/logo1.png" alt="" /></a>
        </div>
        <!--				<div class="logo"><img src="img/广软_长白.png" alt="" /></div>-->
        <div class="search">
            <div class="sput">
                <input
                        type="text"
                        name="search"
                        placeholder="搜索内容"
                        id="searchContent"
                />
                <a href="#"><div class="icon"></div></a>
                <!-- <img src="../../static/images/icon/搜索.png" alt="" /> -->
            </div>
            <!-- 汉堡按钮 -->
            <div class="burger" id="toggle" onclick="navVisi()">
                <div class="top-line"></div>
                <div class="middle-line"></div>
                <div class="bottom-line"></div>
            </div>
        </div>
    </nav>
    <div class="navbar">
        <ul id="visiable" class="nav-menu">
            <a href="index.html">
                <li>
                    <i class="iconfont icon-shouye"></i>
                    首页
                </li>
            </a>
            <a href="learn.html">
                <li>
                    <i class="iconfont icon-lishi"></i>
                    梅岭动态
                </li>
            </a>
            <a href="theorystudy.html">
                <li>
                    <i class="iconfont icon-lilunxuexi"></i>
                    百科问答
                </li>
            </a>
            <a href="organization.html">
                <li>
                    <i class="iconfont icon-zixun"></i>
                    健康养生
                </li>
            </a>
            <a>
                <li>
                    <i class="iconfont icon-deploymentunit"></i>
                    养老社区
                </li>
            </a>
            <a class="active" href="javascript:;">
                <li>
                    <i class="iconfont icon-gerenzhongxin"></i>
                    关于我们
                </li>
            </a>
        </ul>
    </div>
</div>
<div class="container">
    <div class="train_banner" id="swiper">
        <ul class="banner_images clearfix">
            <li>
                <a href="index.html" target="_target">
                    <img src="../../static/images/first/banner5.jpg" alt=""/>
                </a>
            </li>
        </ul>
    </div>
    <main class="main">
        <div class="main-nav-p tac pt25 pb20">
            <div class="">
                <ul class="clearfix">

                    <li >
                        <h3><a href="center.html">中心简介</a></h3>
                    </li>

                    <li>
                        <h3><a href="center2.html">中心架构</a></h3>
                    </li>

                    <li>
                        <h3><a href="center3.html">愿景使命</a></h3>
                    </li>

                    <li>
                        <h3><a href="center4.html">中心荣誉</a></h3>
                    </li>

                    <li class="cur">
                        <h3><a href="">园区剪影</a></h3>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>

        <div class="cen-container">
            <div class="col-md-6">
                <div class="wdgt-profile">
                    <div class="profile">
                        <img src="../../static/images/inside/2.jpg" alt=""/>
                        <div class="profile-social">
                            <a href="#" ><i class="fa fa-pinterest"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#" ><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h5>优雅的娱乐场所</h5>
                        <span>含有麻将室、棋牌室、游泳室等等</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wdgt-profile">
                    <div class="profile">
                        <img src="../../static/images/inside/3.jpg" alt=""/>
                        <div class="profile-social">
                            <a href="#" ><i class="fa fa-pinterest"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#" ><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h5>舒适的图书馆</h5>
                        <span>馆藏书籍5000多本，涵盖各个领域</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="height:20px"></div>
            <div class="col-md-6">
                <div class="wdgt-profile">
                    <div class="profile">
                        <img src="../../static/images/inside/4.jpg" alt=""/>
                        <div class="profile-social">
                            <a href="#" ><i class="fa fa-pinterest"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#" ><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h5>干净的餐厅</h5>
                        <span>根据您的喜好为您定制</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wdgt-profile">
                    <div class="profile">
                        <img src="../../static/images/inside/5.jpg" alt=""/>
                        <div class="profile-social">
                            <a href="#" ><i class="fa fa-pinterest"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#" ><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h5>严谨的护士站</h5>
                        <span>时刻有护士值班，保证您的身体健康</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="height:20px"></div>
            <div class="col-md-6">
                <div class="wdgt-profile">
                    <div class="profile">
                        <img src="../../static/images/inside/6.jpg" alt=""/>
                        <div class="profile-social">
                            <a href="#" ><i class="fa fa-pinterest"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#" ><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h5>宽敞的房间床位</h5>
                        <span>星级酒店式环境，让您住的安心放心</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wdgt-profile">
                    <div class="profile">
                        <img src="../../static/images/inside/1.jpg" alt=""/>
                        <div class="profile-social">
                            <a href="#" ><i class="fa fa-pinterest"></i></a>
                            <a href="#" ><i class="fa fa-twitter"></i></a>
                            <a href="#" ><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="profile-info">
                        <h5>颐养中心全貌</h5>
                        <span>依山傍水，养性修身</span>
                    </div>
                </div>
            </div>
        </div>
<footer>
    <div class="information">
        <div class="logo">
            <img src="img/广软_圆标.png" alt="" />
            <img src="img/favicon.png" alt="" />
        </div>
        <div>
            <h3>服务电话：17876374525&nbsp;&nbsp;&nbsp;个人微信：Kazanin9898</h3>
        </div>
        <div>
            <h3>
                网络技术系 网络工程 网传2班
                铃酱版权所有&nbsp;&nbsp;&nbsp;未经授权禁止商用
            </h3>
        </div>
        <div><h3>Copyright© 2018-2022 by ling98 all rights reserved</h3></div>
    </div>
</footer>

<script src="../../static/js/response.js"></script>
<script>
    function toIndex() {
        window.location.href = "index.html";
    }
</script>
</body>
</html>
