<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
    />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="../../static/css/first/navbar.css" />
    <link rel="stylesheet" href="../../static/css/first/reponse_glo.css" />
    <link rel="stylesheet" href="../../static/css/first/history.css" />
    <link rel="stylesheet" href="../../static/css/first/alifont.css" />
    <link rel="stylesheet" href="../../static/css/first/navbar.css" />
    <link rel="stylesheet" href="../../static/css/first/reponse_glo.css" />
    <link rel="stylesheet" href="../../static/css/first/topic.css" />
    <link rel="stylesheet" href="../../static/css/first/index.css" />
    <link rel="stylesheet" href="../../static/css/first/css.css" />
    <link rel="stylesheet" href="../../static/css/first/common.css" />
    <title>梅岭社区·颐养中心</title>
    <style>
        body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../../static/images/img/水墨3ps.png) no-repeat 100%;
            background-size: cover;
            background-attachment: fixed;
            /* z-index: -1; */
            transition: 0.3s ease-in-out;
        }
    </style>
</head>
<body>
<div class="bgimg">
    <nav>
        <div class="user">
            <a href=""><img src="../../static/images/first/logo1.png" alt="" /></a>
        </div>
        <!--<div class="logo"><img src="img/广软_长白.png" alt="" /></div>-->
        <div class="search">
            <div class="sput">
                <input
                        type="text"
                        name="search"
                        placeholder="搜索内容"
                        id="searchContent"
                />
                <a href="#"><div class="icon"></div></a>
                <!-- <img src="icon/搜索.png" alt="" /> -->
            </div>
            <!-- 汉堡按钮 -->
            <div class="burger" id="toggle" onclick="navVisi()">
                <div class="top-line"></div>
                <div class="middle-line"></div>
                <div class="bottom-line"></div>
            </div>
        </div>
    </nav>
    <div class="navbar">
        <ul id="visiable" class="nav-menu">
            <a href="index.html" >
                <li>
                    <i class="iconfont icon-shouye"></i>
                    首页
                </li>
            </a
            >
            <a >
                <li>
                    <i class="iconfont icon-lishi"></i>
                    梅岭动态
                </li>
            </a>
            <a href="theorystudy.html">
                <li>
                    <i class="iconfont icon-lilunxuexi"></i>
                    百科问答
                </li>
            </a>
            <a class="active" href="javascript:;">
                <li>
                    <i class="iconfont icon-zixun"></i>
                    健康养生
                </li>
            </a>
            <a href="organization.html"
            >
                <li>
                    <i class="iconfont icon-deploymentunit"></i>
                    养老社区
                </li>
            </a
            >
            <a href="center.html"
            >
                <li>
                    <i class="iconfont icon-gerenzhongxin"></i>
                    关于我们
                </li>
            </a
            >
        </ul>
    </div>
        <div class="to-container">
            <div class="header">
                <h3>
                    健康服务 | 梅岭社区养老服务新态势
                </h3>
                <h4>日期：2021-07-15 12:00:00 发布人：《人民日报》—编辑詹乐游 浏览量：65</h4>
            </div>
            <div class="article">
                <p>
                    <span>本网讯 </span>&nbsp;
                </p>
                <div class="ar-img">
                    <img src="img/index-img2.jpg" alt=""/>
                    <h3>提供您最优质的服务</h3>
                </div>
                <p>
                    随着当今社会老龄化现象的日趋严重和人们对生活质量要求的不断提高，老年健康管理已越来越受到大众的关注，对健康服务的需求也呈现出持续增长的态势。金东方颐养中心作为健康老人的生活居所，始终将老人们的健康管理放在首位，特别配备了一支由家庭医生、护士、康复师、营养师、心理治疗师、健康管理师、护理员等组成的专业团队，为会员提供科学、专业、系统、个性化的健康管理服务。
                </p>
                <p>
                    梅岭社区·颐养中心的健康管理服务以现代健康理念、治未病和服务会员的思想为指导，对会员的健康状况提供长期连续、专业周到、全面覆盖的服务保障。基于会员健康需求，颐养中心通过定期体检、日常门诊、入户保健、协助就医、24小时紧急救助、跟踪随访等服务，及时掌握会员健康信息及数据，评估健康风险，提出健康危险因素干预建议，为每位会员建立专属的健康档案，从而改善其健康状况。
                </p>
                <p>
                    除常规的健康管理外，颐养中心还根据会员的具体情况提供个性化的健康服务，如个性化慢病管理、个性化营养管理、个性化康复服务、个性化居家照护服务等。同时，定期组织丰富的健康教育活动，如食盐习惯评估、口腔义诊、糖尿病饮食管理讲座、家庭急救知识讲解及示范讲座等，增强老年人的健康管理意识与常识。
                </p>
                <div class="infomatrion">
                    <div class="author">（供稿：新闻中心）</div>
                    <div class="state">
                        <i class="iconfont icon-pinglun">&nbsp;115&nbsp;</i>
                        <i id="collect" class="iconfont icon-shoucang">&nbsp;65&nbsp;</i>
                        <i id="like" class="iconfont icon-zan">&nbsp;369&nbsp;</i>
                    </div>
                </div>
            </div>
            <div class="btnlist">
                <div class="btn" onclick="last()">上一篇</div>
                <div class="btn" onclick="toIndex()">回首页</div>
                <div class="btn" onclick="closeTab()">关闭页面</div>
                <div class="btn" onclick="next()">下一遍</div>
            </div>
        </div>
    </div>
    <footer>
        <div class="logo">
            <img src="img/广软_圆标.png" alt="" />
            <img src="img/favicon.png" alt="" />
        </div>
        <div class="contents">
            <h3 class="content">
                版权所有：梅岭社区·颐养中心&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h3>
            <h3 class="content">邮箱：email@csu.cn.com</h3>
            <h3 class="content">
                联系方式：430-808-8888
            </h3>
        </div>
    </footer>
    <div id="success" class="success-message" style="display: none">
        <img src="icon/正确.png" alt="" />
        <h3 class="success-text">成功消息框</h3>
    </div>
    <div id="warning" class="warning-message" style="display: none">
        <img src="icon/警告.png" alt="" />
        <h3 class="warning-text">警告消息框</h3>
    </div>
    <div id="toTop" class="toTop" style="display: none" onclick="backTop()">
        <img src="icon/向上.png" alt="" />
    </div>

    <script src="../../static/js/response.js"></script>
    <script>
        function last() {
            // alert("研发人员紧张开发中!");
            window.location.href = "topic2.html";
        }
        function next() {
            alert("研发人员仍在紧张开发中!");
        }
        function toIndex() {
            window.location.href = "index.html";
        }
        function closeTab() {
            if (confirm("确认离开当前页面？")) {
                window.close();
            } else {
                success_message_come(success, "谢谢你留下来！");
            }
        }
        // 点赞收藏
        var isLike = false;
        var isCollect = false;
        var like = document.getElementById("like");
        var collect = document.getElementById("collect");
        like.onclick = function () {
            if (isLike == false) {
                isLike = true;
                like.style.color = "rgb(148, 17, 17)";
                like.innerHTML = "&nbsp;370&nbsp;";
                success_message_come(success, "点赞成功！");
            } else {
                isLike = false;
                like.removeAttribute("style");
                like.innerHTML = "&nbsp;369&nbsp;";
                warning_message_come(warning, "已取消点赞");
            }
        };
        collect.onclick = function () {
            if (isCollect == false) {
                isCollect = true;
                collect.style.color = "rgb(148, 17, 17)";
                collect.innerHTML = "&nbsp;66&nbsp;";
                success_message_come(success, "收藏成功！");
            } else {
                isCollect = false;
                collect.removeAttribute("style");
                collect.innerHTML = "&nbsp;65&nbsp;";
                warning_message_come(warning, "已取消收藏");
            }
        };
    </script>
    </body>
</html>
