<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
		/>
		<meta name="keywords" content="支部动态" />
		<link rel="stylesheet" href="../../static/css/first/navbar.css" />
		<link rel="stylesheet" href="../../static/css/first/reponse_glo.css" />
		<link rel="stylesheet" href="../../static/css/first/organization.css" />
		<link rel="stylesheet" href="../../static/css/first/alifont.css" />
		<link rel="stylesheet" href="../../static/css/first/navbar.css" />
		<link rel="stylesheet" href="../../static/css/first/index.css" />
		<link rel="stylesheet" href="../../static/css/first/css.css" />
		<link rel="stylesheet" href="../../static/css/first/reponse_glo.css" />
		<link rel="stylesheet" href="../../static/css/first/common.css" />
		<title>梅岭社区·颐养中心</title>

	</head>
	<body>
		<div class="bgimg">
			<nav>
				<div class="user">
					<a href=""><img src="../../static/images/first/logo1.png" alt="" /></a>
				</div>
				<!--<div class="logo"><img src="img/广软_长白.png" alt="" /></div>-->
				<div class="search">
					<div class="sput">
						<input
							type="text"
							name="search"
							placeholder="搜索内容"
							id="searchContent"
						/>
						<a href="#"><div class="icon"></div></a>
						<!-- <img src="icon/搜索.png" alt="" /> -->
					</div>
					<!-- 汉堡按钮 -->
					<div class="burger" id="toggle" onclick="navVisi()">
						<div class="top-line"></div>
						<div class="middle-line"></div>
						<div class="bottom-line"></div>
					</div>
				</div>
			</nav>
			<div class="navbar">
				<ul id="visiable" class="nav-menu">
					<a  href="index.html"
					>
						<li>
							<i class="iconfont icon-shouye"></i>
							首页
						</li>
					</a
					>
					<a href="learn.html"
					>
						<li>
							<i class="iconfont icon-lishi"></i>
							梅岭动态
						</li>
					</a
					>
					<a href="theorystudy.html"
					>
						<li>
							<i class="iconfont icon-lilunxuexi"></i>
							百科问答
						</li>
					</a
					>
					<a class="active" href="javascript:;"
					>
						<li>
							<i class="iconfont icon-zixun"></i>
							健康养生
						</li>
					</a
					>
					<a href="organization.html"
					>
						<li>
							<i class="iconfont icon-deploymentunit"></i>
							养老社区
						</li>
					</a
					>
					<a href="center.html"
					>
						<li>
							<i class="iconfont icon-gerenzhongxin"></i>
							关于我们
						</li>
					</a
					>
				</ul>
			</div>

			<div class="header-img">
				<a href=""><img src="../../static/images/first/log2.png" alt="" /></a>
			</div>

			<div class="or-container">

				<div class="list-items">
					<div class="list-header">配套服务</div>
					<div class="list-bottom"></div>
					<div class="list-item">
						<div class="list-img">
							<a href="learn1.html">
								<img src="../../static/images/first/e.png" alt="" />
							</a>
						</div>
						<div class="list-words">
							<a href="">
								<span>梅岭社区·颐养中心 健康服务</span>
								<span>2021-02-08</span>
							</a>
						</div>
					</div>
					<div class="list-item">
						<div class="list-img">
							<a href="">
								<img src="../../static/images/first/old2.png" alt="" />
							</a>
						</div>
						<div class="list-words">
							<a href="">
								<span>梅岭社区·颐养中心 生活服务</span>
								<span>2021-02-26</span>
							</a>
						</div>
					</div>
					<div class="list-item">
						<div class="list-img">
							<a href="">
								<img src="../../static/images/first/g.png" alt="" />
							</a>
						</div>
						<div class="list-words">
							<a href="">
								<span>梅岭社区·颐养中心 休闲娱乐文化服务</span>
								<span>2021-03-21</span>
							</a>
						</div>
					</div>
					<div class="list-item">
						<div class="list-img">
							<a href="">
								<img src="../../static/images/first/d.png" alt="" />
							</a>
						</div>
						<div class="list-words">
							<a href="">
								<span>梅岭社区·颐养中心 运动健身服务</span>
								<span>2021-03-30</span>
							</a>
						</div>
					</div>
					<div class="list-item">
						<div class="list-img">
							<a href="">
								<img src="../../static/images/first/i.png" alt="" />
							</a>
						</div>
						<div class="list-words">
							<a href="">
								<span>梅岭社区·颐养中心 智能化服务</span>
								<span>2021-04-26</span>
							</a>
						</div>
					</div>
					<div class="list-item">
						<div class="list-img">
							<a href="">
								<img src="../../static/images/first/old6.png" alt="" />
							</a>
						</div>
						<div class="list-words">
							<a href="">
								<span>梅岭社区·颐养中心 园区管理服务</span>
								<span>2021-05-12</span>
							</a>
						</div>
					</div>
					<div class="list-item">
						<div class="list-img">
							<a href="">
								<img src="../../static/images/first/j.png" alt="" />
							</a>
						</div>
						<div class="list-words">
							<a href="">
								<span>梅岭社区·颐养中心 一体化服务</span>
								<span>2021-05-26</span>
							</a>
						</div>
					</div>
					<div class="list-item">
						<div class="list-img">
							<a href="">
								<img src="../../static/images/first/old7.png" alt="" />
							</a>
						</div>
						<div class="list-words">
							<a href="">
								<span>梅岭社区·颐养中心 专业化服务</span>
								<span>2021-06-18</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<footer>
				<div class="logo">
					<img src="img/广软_圆标.png" alt="" />
					<img src="img/favicon.png" alt="" />
				</div>
				<div class="contents">
					<h3 class="content">
						版权所有：梅岭社区·颐养中心&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</h3>
					<h3 class="content">邮箱：email@csu.cn.com</h3>
					<h3 class="content">
						联系方式：430-808-8888
					</h3>
				</div>
			</footer>
		</div>
		<script src="js/response.js"></script>
	</body>
</html>
