<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
		/>
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../../css/first/navbar.css" />
		<link rel="stylesheet" href="../../css/first/reponse_glo.css" />
		<link rel="stylesheet" href="../../css/first/theorystudy.css" />
		<link rel="stylesheet" href="../../css/first/alifont.css" />
		<link rel="stylesheet" href="../../css/first/navbar.css" />
		<link rel="stylesheet" href="../../css/first/index.css" />
		<link rel="stylesheet" href="../../css/first/css.css" />
		<link rel="stylesheet" href="../../css/first/reponse_glo.css" />
		<link rel="stylesheet" href="../../css/first/common.css" />
		<title>梅岭社区·颐养中心</title>
		<style>
			body {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url(../../images/img/水墨3ps.png) no-repeat 100%;
				background-size: cover;
				background-attachment: fixed;
				/* z-index: -1; */
				transition: 0.3s ease-in-out;
			}
		</style>
	</head>
	<body>
		<div class="bgimg">
			<nav>
				<div class="user">
					<a href="/web/index"><img src="../../images/first/logo1.png" alt="" /></a>
				</div>
<!--				<div class="logo"><img src="img/广软_长白.png" alt="" /></div>-->
				<div class="search">
					<div class="sput">
						<input
							type="text"
							name="search"
							placeholder="搜索内容"
							id="searchContent"
						/>
						<a href="#"><div class="icon"></div></a>
						<!-- <img src="../../images/icon/搜索.png" alt="" /> -->
					</div>
					<!-- 汉堡按钮 -->
					<div class="burger" id="toggle" onclick="navVisi()">
						<div class="top-line"></div>
						<div class="middle-line"></div>
						<div class="bottom-line"></div>
					</div>
				</div>
			</nav>
			<div class="navbar">
				<ul id="visiable" class="nav-menu">
					<a href="/web/index"
					>
						<li>
							<i class="iconfont icon-shouye"></i>
							首页
						</li>
					</a
					>
					<a href="/web/learn"
					>
						<li>
							<i class="iconfont icon-lishi"></i>
							梅岭动态
						</li>
					</a
					>
					<a href="/web/theorystudy" class="active"
					>
						<li>
							<i class="iconfont icon-lilunxuexi"></i>
							百科问答
						</li>
					</a
					>
					<a href="/web/organization"
					>
						<li>
							<i class="iconfont icon-zixun"></i>
							健康养生
						</li>
					</a
					>
					<a href="/web/social"
					>
						<li>
							<i class="iconfont icon-deploymentunit"></i>
							养老社区
						</li>
					</a
					>
					<a href="/web/center"
					>
						<li>
							<i class="iconfont icon-gerenzhongxin"></i>
							关于我们
						</li>
					</a
					>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="train_banner" id="swiper">
				<ul class="banner_images clearfix">
					<li>
						<a href="/web/index" target="_target">
							<img src="../../images/first/banner3.jpg" alt=""/>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="theo-container">
			<div class="left-half">

				<div class="list-header">梅岭社区颐养中心内部环境</div>
				<div class="list-bottom"></div>
				<div class="list-items">
					<div class="list-item">
						<div><img src="../../images/inside/2.png" alt="" /></div>
						<div>
							<h4>看新闻休息一下</h4>
							<span href="http://www.cnsf99.com/Detail/index.html?id=454&aid=94086" style="color: #9a9a9a;font-size: 1rem">积极应对人口老龄化，扩大普惠性养老托育服务供给</span>
						</div>
					</div>
					<div class="list-item">
						<div><img src="../../images/inside/1.png" alt="" /></div>
						<div>
							<h4>居家生活小妙招</h4>
							<span href="http://www.360doc.com/content/14/1231/08/170391_437031299.shtml" style="color: #9a9a9a;font-size: 1rem">生活中的各种诀窍能让我们生活得更加愉快和舒心。下面给大家分享日常生活小常识大全，包含家具清洁妙招、饭烧糊应对方法、食盐的妙用。</span>
						</div>
					</div>
					<div class="list-item">
						<div><img src="../../images/inside/3.png" alt="" /></div>
						<div>
							<h4>腾出时间放松一下</h4>
							<span href="https://www.so.com/link?m=bjY5p1mvIPG%2BUnB5JrMmrMcWXAq6aZ0MgmBbh075X%2F8OIPhD29V%2F5rwkHnXa0jGMC2CaE1Zx3QoG%2FJo247vqVIcF5sOqJXYdQMIpUvpoQfBwNldKcTSO9TNvsxhMPcuL8S39MQMORtxKopmTvbVujC3nVxFLWURA%2BG8d0gFeoc%2BUqbwkjNGNb8Q%3D%3D" style="color: #9a9a9a;font-size: 1rem">《映山红》，《映山红》是庞龙的音乐作品，收录在《2009年9月新歌速递》专辑中。</span>
						</div>
					</div>
					<div class="list-item">
						<div><img src="../../images/inside/4.png" alt="" /></div>
						<div>
							<h4>与他人联系</h4>
							<span href="https://jingyan.baidu.com/article/915fc414d542c351394b20dc.html" style="color: #9a9a9a;font-size: 1rem"> 在人来人往，聚散分离的人生旅途中，与人交往是必不可少的。交往是搭建人与人之间沟通的一个桥梁。我们生活在社会这个大家庭中，最基本的是与人交往，不与他人交往的人是不存在的。人际交往是人健康成长的基本条件，不仅有利于智力的开发，而且有助于情感的陶冶，意志的磨炼和良好人格的塑造。交往是一种艺术，因此需要掌握一定的技巧。</span>
						</div>
					</div>
					<div class="list-item">
						<div><img src="../../images/inside/5.png" alt="" /></div>
						<div>
							<h4>老人的精神赡养，子女该如何做到尽孝职责？</h4>
							<span href="https://wenda.so.com/q/1477029523724895?src=140&q=%E5%A6%82%E4%BD%95%E5%B0%BD%E5%88%B0%E8%B5%A1%E5%85%BB%E8%80%81%E4%BA%BA%E7%9A%84%E8%81%8C%E8%B4%A3" style="color: #9a9a9a;font-size: 1rem">百以孝为先，孟子云:"老吾老以及人之老，幼吾幼以及人之幼"。随着我国经济和社会的高速发展，人口老龄化程度也不断加深，人口老龄化带来了赡养责任、财产分配、子女关系等众多社会问题，对于老人的赡养，除了必要的物质关爱外，精神关爱同样不可缺少，而现今老... 百以孝为先，孟子云:"老吾老以及人之老，幼吾幼以及人之幼"。随着我国经济和社会的....</span>
						</div>
					</div>
					<div class="list-item">
						<div><img src="../../images/inside/6.png" alt="" /></div>
						<div>
							<h4>三胎政策与养老</h4>
							<span href="https://finance.sina.com.cn/china/gncj/2021-05-31/doc-ikmxzfmm5722418.shtml" style="color: #9a9a9a;font-size: 1rem">开放三胎政策背后是80后、90后养老难题，解决老龄化问题还需银发产业支撑</span>
						</div>
					</div>
				</div>
			</div>
			<div class="right-half">
				<div class="type">
					<div class="card-title">
						<div class="line"></div>
						&nbsp;详情
					</div>
					<div class="down">
						<div class="head-img">
							<div class="imgUrl">
								<a href="javascript:;">
									<img src="../../images/inside/back2.png" alt="" />
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="type">
					<div class="card-title">
						<div class="line"></div>
						&nbsp;详情
					</div>
					<div class="down">
						<div class="head-img">
							<div class="imgUrl">
								<a href="javascript:;">
									<img src="../../images/inside/back3.png" alt="" />
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="type">
					<div class="card-title">
						<div class="line"></div>
						&nbsp;详情
					</div>
					<div class="down">
						<div class="head-img">
							<div class="imgUrl">
								<a href="javascript:;">
									<img src="../../images/inside/back1.png" alt="" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="logo">
				<img src="img/广软_圆标.png" alt="" />
				<img src="img/favicon.png" alt="" />
			</div>
			<div class="contents">
				<h3 class="content">
					版权所有：梅岭社区·颐养中心&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</h3>
				<h3 class="content">邮箱：email@csu.cn.com</h3>
				<h3 class="content">
					联系方式：430-808-8888
				</h3>
			</div>
		</footer>

		<script src="../../js/response.js"></script>
	</body>
</html>
