<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
		/>
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../../static/css/first/alifont.css" />
		<link rel="stylesheet" href="../../static/css/first/navbar.css" />
		<link rel="stylesheet" href="../../static/css/first/reponse_glo.css" />
		<link rel="stylesheet" href="../../static/css/first/topic.css" />
		<link rel="stylesheet" href="../../static/css/first/index.css" />
		<link rel="stylesheet" href="../../static/css/first/css.css" />
		<link rel="stylesheet" href="../../static/css/first/common.css" />
		<title>梅岭社区·颐养中心</title>
		<style>
			body {
				font-size: 14px;
				font-family: 微软雅黑, Verdana, 宋体;
				color: rgb(0, 0, 0);
				background-color: rgb(249, 249, 249);
				margin: 0px;
				padding: 0px;
			}
		</style>
	</head>
	<body>
		<div class="bgimg">
			<nav>
				<div class="user">
					<div class="userlogin">
						<!--<a href=""><img src="icon/党建活动.png" alt="" /></a>
						<a href="center.html">铃酱，欢迎您！</a>
						<a href="center.html">铃酱</a>-->
					</div>
				</div>
				<!--<div class="logo"><img src="img/广软_长白.png" alt="" /></div>-->
				<div class="search">
					<div class="sput">
						<input
							type="text"
							name="search"
							placeholder="搜索内容"
							id="searchContent"
						/>
						<a href="#"><div class="icon"></div></a>
						 <img src="icon/搜索.png" alt="" />
					</div>
					<!-- 汉堡按钮 -->
					<div class="burger" id="toggle" onclick="navVisi()">
						<div class="top-line"></div>
						<div class="middle-line"></div>
						<div class="bottom-line"></div>
					</div>
				</div>
			</nav>
			<div class="navbar">
				<ul id="visiable" class="nav-menu">
					<a class="active" href="javascript:;">
						<li>
							<i class="iconfont icon-shouye"></i>
							首页
						</li>
					</a>
					<a href="learn.html">
						<li>
							<i class="iconfont icon-lishi"></i>
							梅岭动态
						</li>
					</a>
					<a href="theorystudy.html">
						<li>
							<i class="iconfont icon-lilunxuexi"></i>
							百科问答
						</li>
					</a>
					<a href="organization.html">
						<li>
							<i class="iconfont icon-zixun"></i>
							健康养生
						</li>
					</a>
					<a href="organization.html">
						<li>
							<i class="iconfont icon-deploymentunit"></i>
							养老社区
						</li>
					</a>
					<a href="center.html">
						<li>
							<i class="iconfont icon-gerenzhongxin"></i>
							关于我们
						</li>
					</a>
				</ul>
			</div>

			<div class="to-container">
				<div class="header">
					<h3>
						颐养讲堂 | 聚焦"十四五"目标：健全多层次养老保险体系
					</h3>
					<h4>日期：2021-07-15 12:00:00 发布人：《人民日报》—编辑詹乐游 浏览量：65</h4>
				</div>
				<div class="article">
					<p>
						<span>本网讯 </span>&nbsp;社保是民生之基。“十四五”规划纲要提出，基本养老保险参保率提高到95%，发展多层次、多支柱养老保险体系。

						如何进一步提高养老保险参保率？何为多支柱养老保险体系，如何发展？记者采访了人社部相关司局负责人和专家。
					</p>
					<div class="ar-img">
						<img src="img/index-img2.jpg" alt=""/>
						<h3>放开灵活就业人员在就业地参保户籍限制</h3>
					</div>
					<p>
						合并新型农村社会养老保险、城镇居民社会养老保险，稳妥推进机关事业单位养老保险制度改革，推动企业职工基本养老保险基金实现省级统收统支……党的十八大以来，我国基本建成覆盖全民、城乡统筹、权责清晰、保障适度、可持续的多层次社会保障体系。截至今年3月底，我国基本养老保险参保人数达10.07亿人，基本养老保险参保率超过90%。
					</p>
					<p>
						“特别是我国不断完善城乡居民养老保险困难群体帮扶政策，自2019年9月以来，全国建档立卡贫困人员参保率长期稳定在99.99%。”清华大学社会科学学院教授董克用介绍，2020年底超过3014万贫困老年人按月领取基本养老保险待遇，其中建档立卡贫困老人1735万人。

						人社部养老保险司有关负责人介绍，目前，我国基本养老保险体系包括城镇职工和城乡居民基本养老保险两大制度平台。其中，机关事业单位、城镇各类企业、社会组织等各类单位就业人员应当参加城镇职工基本养老保险，单位和职工共同缴纳基本养老保险费；无雇工的个体工商户、未在用人单位参加基本养老保险的非全日制从业人员以及其他灵活就业人员可以参加企业职工基本养老保险，由个人缴纳基本养老保险费。
					</p>
					<p>
						该负责人介绍，目前基本养老保险未参保人员主要集中在农民工、灵活就业人员、新业态从业人员等重点群体。“接下来，人社部门将深入推进全民参保计划，聚焦重点人群，依托全民参保登记数据等精准定位未参保人员，实施精准推送式宣传服务，以实现基本养老保险参保率达95%的目标。”

						同时，人社部将推动放开外省户籍灵活就业人员在就业地参保的户籍限制，积极推动在城镇就业的新业态从业人员、灵活就业人员等重点群体参加企业职工基本养老保险。
					</p>
					<div class="ar-img">
						<img src="img/article-img3.png" alt=""/>
						<h3>年内建成企业职工基本养老保险全国统筹信息系统</h3>
					</div>
					<p>
						谈起养老保险制度，全国统筹话题备受关注。“十四五”规划纲要明确提出，实现基本养老保险全国统筹。“当前，实现基本养老保险全国统筹已具备较好的基础。”人社部养老保险司有关负责人说。
					</p>
					<p>
						——省级统筹进一步规范。截至2020年底，31个省份和新疆生产建设兵团企业职工基本养老保险基金管理均实现省级统收统支、均衡了省内各地基金负担。多数省份已经实现养老保险业务全省通办，参保人员在省内流动就业，其养老保险关系自动接续，不需要转移基金。
					</p>
					<p>
						——中央调剂制度已经建立。作为实现全国统筹的第一步，我国于2018年启动实施了企业职工基本养老保险基金中央调剂制度。通过中央对部分基金进行统一调剂使用，适度均衡省际基金负担，有力支持了中西部地区和老工业基地养老金按时足额发放。
					</p>
					<p>
						——各省份养老保险政策已逐步统一。目前，养老保险单位缴费比例、缴费基数核定办法等政策全国已基本实现统一，降低了企业和参保人员的缴费成本，促进了制度公平和市场公平。
					</p>
					<p>
						——全国统一的社会保险公共服务平台已经建成。社会保险公共服务平台已于2019年正式上线，为参保人员提供社保查询、参保登记、转移接续、申领失业金等服务，办理社保业务更加方便快捷。
					</p>
					<div class="ar-img">
						<img src="img/article-img2.png" alt=""/>
						<h3>什么是多层次、多支柱养老保险体系？</h3>
					</div>
					<p>
						目前，我国已初步构建起以基本养老保险为基础、以企业（职业）年金为补充、与个人储蓄性养老保险和商业养老保险相衔接的“三支柱”养老保险体系。
					</p>
					<p>
						第一支柱即基本养老保险制度，由国家、单位和个人共同负担，坚持全覆盖、保基本。截至2020年底，职工基本养老保险参保人数4.56亿人（其中领取待遇人数1.28亿人），积累基金4.83万亿元；城乡居民基本养老保险参保人数5.42亿人（其中实际领取待遇人数1.61亿人），积累基金9759亿元。
					</p>
					<p>
						第二支柱为企业（职业）年金制度，由单位和个人共同负担，实行完全积累，市场化运营。截至2020年底，全国参加企业（职业）年金6953万人，积累基金3.6万亿元。
					</p>
					<p>
						第三支柱即个人储蓄性养老保险和商业养老保险。目前，尚没有正式制度安排。
					</p>
					<div class="infomatrion">
						<div class="author">（供稿：新闻中心）</div>
						<div class="state">
							<i class="iconfont icon-pinglun">&nbsp;115&nbsp;</i>
							<i id="collect" class="iconfont icon-shoucang">&nbsp;65&nbsp;</i>
							<i id="like" class="iconfont icon-zan">&nbsp;369&nbsp;</i>
						</div>
					</div>
				</div>
				<div class="btnlist">
					<div class="btn" onclick="last()">上一篇</div>
					<div class="btn" onclick="toIndex()">回首页</div>
					<div class="btn" onclick="closeTab()">关闭页面</div>
					<div class="btn" onclick="next()">下一遍</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="logo">
				<img src="img/广软_圆标.png" alt="" />
				<img src="img/favicon.png" alt="" />
			</div>
			<div class="contents">
				<h3 class="content">
					版权所有：梅岭社区·颐养中心&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</h3>
				<h3 class="content">邮箱：email@csu.cn.com</h3>
				<h3 class="content">
					联系方式：430-808-8888
				</h3>
			</div>
		</footer>
		<div id="success" class="success-message" style="display: none">
			<img src="icon/正确.png" alt="" />
			<h3 class="success-text">成功消息框</h3>
		</div>
		<div id="warning" class="warning-message" style="display: none">
			<img src="icon/警告.png" alt="" />
			<h3 class="warning-text">警告消息框</h3>
		</div>
		<div id="toTop" class="toTop" style="display: none" onclick="backTop()">
			<img src="icon/向上.png" alt="" />
		</div>

		<script src="../../static/js/response.js"></script>
		<script>
			function last() {
				// alert("研发人员紧张开发中!");
				window.location.href = "topic2.html";
			}
			function next() {
				alert("研发人员仍在紧张开发中!");
			}
			function toIndex() {
				window.location.href = "index.html";
			}
			function closeTab() {
				if (confirm("确认离开当前页面？")) {
					window.close();
				} else {
					success_message_come(success, "谢谢你留下来！");
				}
			}
			// 点赞收藏
			var isLike = false;
			var isCollect = false;
			var like = document.getElementById("like");
			var collect = document.getElementById("collect");
			like.onclick = function () {
				if (isLike == false) {
					isLike = true;
					like.style.color = "rgb(148, 17, 17)";
					like.innerHTML = "&nbsp;370&nbsp;";
					success_message_come(success, "点赞成功！");
				} else {
					isLike = false;
					like.removeAttribute("style");
					like.innerHTML = "&nbsp;369&nbsp;";
					warning_message_come(warning, "已取消点赞");
				}
			};
			collect.onclick = function () {
				if (isCollect == false) {
					isCollect = true;
					collect.style.color = "rgb(148, 17, 17)";
					collect.innerHTML = "&nbsp;66&nbsp;";
					success_message_come(success, "收藏成功！");
				} else {
					isCollect = false;
					collect.removeAttribute("style");
					collect.innerHTML = "&nbsp;65&nbsp;";
					warning_message_come(warning, "已取消收藏");
				}
			};
		</script>
	</body>
</html>
