<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>文件上传</title><!--引入CSS-->
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>

</head>
<body>
<input type="file" multiple id="ssi-upload7" name="file"/>
<br>
<br>
<br>

<input type="text" id="custId" name="custId" value="">
<input type="button" id="button" value="获取编号">
<script type="text/javascript">
    $("#button").click(function(){
        $.ajax({url:"/getRfid",
                success:function(data){
                    console.log(data["rfid"]);
                 $("#custId").val(data["rfid"]);
            }});
    });
</script>
</body>
<link rel="stylesheet" href="../../css/styles/ssi-uploader.css" type='text/css'>
<script type="text/javascript" src="../../js/ssi-uploader.js"></script>

</html>