<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.csu.carecenter.Persistence.AdminMapper">

    <select id="selectAdmin" parameterType="org.csu.carecenter.entity.Admin" resultType="org.csu.carecenter.entity.Admin">
        SELECT
            adminName,password
        FROM `carecenter_admin`
        WHERE `adminName` = #{adminName}
        AND `password` = #{password}
    </select>


    <update id="updateAdmin" >
        UPDATE `carecenter_admin`
        SET `adminName`=#{admin.adminName},
            `password`=#{admin.password}
        WHERE `adminName`=#{oldName}
    </update>
</mapper>