<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.csu.carecenter.Persistence.BedMapper">
    <select id="getBedListNotEmpty" resultType="Bed">
        SELECT
            BED.ID,
            BED.ROOMNUM as roomNum,
            BED.BEDSTATUS as bedStatus,
            BED.SORT,
            BED.DESCRIPTION,
            BEDANDCUST.CUSTID as customerId,
            BEDANDCUST.STARTTIME as startTime,
            BEDANDCUST.ENDTIME as endTime
        FROM BED,BEDANDCUST
        WHERE BED.ID=BEDANCUST.BEDID
    </select>

    <select id="getBedListEmpty" resultType="Bed">
        SELECT
            BED.ID,
            BED.ROOMNUM as roomNum,
            BED.BEDSTATUS as bedStatus,
            BED.SORT,
            BED.DESCRIPTION,
        FROM BED
        WHERE BED.BEDSTATUS=1
    </select>

    <select id="getAllBedList" resultType="Bed">
        SELECT
            BED.ID,
            BED.ROOMNUM as roomNum,
            BED.BEDSTATUS as bedStatus,
            BED.SORT,
            BED.DESCRIPTION,
        FROM BED
        WHERE BED.ID
    </select>



    <select id="getBedAndCustomer" parameterType="int" resultType="BedAndCustomer">
        SELECT
            ID,
            CUSTID as customerID,
            BEDID as bedId,
            STARTTIME as startTime,
            ENDTIME as endTime
        FROM BEDANDCUST
        WHERE BEDANDCUST.BEDID=#{bedId}
    </select>

    <insert id="insertBed" parameterType="Bed">
        INSERT INTO BED
        (ID,ROOMNUM,BEDSTATUS,SORT,DESCRIPTION)
        VALUES
        (#{id},#{roomNum},#{bedStatus},#{sort},#{description})
    </insert>

    <delete id="deleteBed" parameterType="int">
        DELETE FROM BED
        WHERE ID=#{bedId}
    </delete>

    <insert id="insertBedAndCustomer" parameterType="BedAndCustomer">
        INSERT INTO BEDANDCUST
        (CUSTID,STARTTIME,ENDTIME)
        VALUES
        (#{customerID},#{startTime},#{endTime})
    </insert>

    <delete id="deleteBedAndCustomer" parameterType="int">
        DELETE FROM BEDANDCUST
        WHERE BEDID = #{bedId}
    </delete>

    <update id="updateBed">
        UPDATE BED
        SET ID=#{bed.id},
            ROOMNUM=#{bed.roomNum},
            BEDSTATUS=#{bed.bedStatus},
            SORT=#{bed.sort},
            DESCRIPTION=#{bed.description}
        WHERE ID=#{oldBedId}

    </update>

    <select id="getMaxId" resultType="int">
        SELECT
            Max(BEDANDCUST.ID)
        FROM BEDANDCUST
    </select>

    <update id="updateBedAndCustomer" parameterType="BedAndCustomer">
        UPDATE BEDANDCUST
        SET CUSTID=#{customerID},
            BEDID=#{bedId},
            STARTTIME = #{startTime},
            ENDTIME = #{endTime}
        WHERE ID=#{id}
    </update>




</mapper>