<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.csu.carecenter.Persistence.CustomerMapper">

    <select id="getCustomer"  parameterType="String" resultType="Customer">
        SELECT
            CUSTOMER.ID,
            CUSTOMER.NAME,
            CUSTOMER.SEX,
            CUSTOMER.AGE,
            CUSTOMER.BEDNUM as bedNum,
            CUSTOMER.HEIGHT,
            CUSTOMER.WEIGHT,
            CUSTOMER.BIRTHDAY,
            CUSTOMER.ATTENTION
        FROM CUSTOMER
        WHERE CUSTOMER.NAME = #{name}
    </select>

    <insert id="addCustomer"  parameterType="Customer">
        INSERT INTO CUSTOMER
            (CUSTOMER.ID,
            CUSTOMER.NAME,
            CUSTOMER.SEX,
            CUSTOMER.AGE,
            CUSTOMER.HEIGHT,
            CUSTOMER.WEIGHT,
            CUSTOMER.BIRTHDAY,
            CUSTOMER.ATTENTION)
        VALUES
            (#{id}, #{name}, #{sex}, #{age}, #{height}, #{weight}, #{birthday}, #{attention})
    </insert>

    <update id="updateCustomer"  parameterType="Customer">
        UPDATE CUSTOMER SET
         CUSTOMER.NAME = #{name},
         CUSTOMER.SEX = #{sex},
         CUSTOMER.AGE = #{age},
         CUSTOMER.HEIGHT = #{height},
         CUSTOMER.WEIGHT = #{weight},
         CUSTOMER.BIRTHDAY = #{birthday},
         CUSTOMER.ATTENTION = #{attention}
        WHERE CUSTOMER.ID = #{id}
    </update>
</mapper>