<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.csu.carecenter.Persistence.CustomerMapper">

    <select id="getCustomer"  parameterType="int" resultType="Customer">
        SELECT
            CUSTOMER.ID,
            CUSTOMER.NAME,
            CUSTOMER.SEX,
            CUSTOMER.AGE,
            CUSTOMER.HEIGHT,
            CUSTOMER.WEIGHT,
            CUSTOMER.BIRTHDAY,
            CUSTOMER.ATTENTION
        FROM CUSTOMER
        WHERE CUSTOMER.ID = #{id}
    </select>

    <select id="getCustomerList"  resultType="Customer">
        SELECT
            CUSTOMER.ID,
            CUSTOMER.NAME,
            CUSTOMER.SEX,
            CUSTOMER.AGE,
            CUSTOMER.HEIGHT,
            CUSTOMER.WEIGHT,
            CUSTOMER.BIRTHDAY,
            CUSTOMER.ATTENTION
        FROM CUSTOMER
    </select>

    <insert id="addCustomer"  parameterType="Customer">
        INSERT INTO CUSTOMER
            (CUSTOMER.ID,
            CUSTOMER.NAME,
            CUSTOMER.SEX,
            CUSTOMER.AGE,
            CUSTOMER.HEIGHT,
            CUSTOMER.WEIGHT,
            CUSTOMER.BIRTHDAY,
            CUSTOMER.ATTENTION)
        VALUES
            (#{id}, #{name}, #{sex}, #{age}, #{height}, #{weight}, #{birthday}, #{attention})
    </insert>

    <update id="updateCustomer"  parameterType="Customer">
        UPDATE CUSTOMER SET
         CUSTOMER.NAME = #{name},
         CUSTOMER.SEX = #{sex},
         CUSTOMER.AGE = #{age},
         CUSTOMER.HEIGHT = #{height},
         CUSTOMER.WEIGHT = #{weight},
         CUSTOMER.BIRTHDAY = #{birthday},
         CUSTOMER.ATTENTION = #{attention}
        WHERE CUSTOMER.ID = #{id}
    </update>

    <delete id="deleteCustomer"  parameterType="int">
        DELETE FROM CUSTOMER
        WHERE CUSTOMER.ID = #{id}
    </delete>
    
<!--  客户的入住信息  -->
    <select id="selectCheckinList" resultType="BedAndCustomer">
        SELECT
            BEDANDCUST.ID,
            BEDANDCUST.CUSTID,
            BEDANDCUST.BEDID,
            BEDANDCUST.STARTTIME
        FROM BEDANDCUST
    </select>

    <update id="deleteCheckin" parameterType="BedAndCustomer">
        UPDATE BEDANDCUST SET
            BEDANDCUST.STARTTIME = NULL
        WHERE BEDANDCUST.ID = #{id}
    </update>

<!--  客户的退住信息  -->
    <select id="selectCheckoutList" resultType="BedAndCustomer">
        SELECT
            BEDANDCUST.ID,
            BEDANDCUST.CUSTID,
            BEDANDCUST.BEDID,
            BEDANDCUST.STARTTIME,
            BEDANDCUST.ENDTIME
        FROM BEDANDCUST
    </select>

    <update id="deleteCheckout" parameterType="BedAndCustomer">
        UPDATE BEDANDCUST SET
            BEDANDCUST.ENDTIME = NULL
        WHERE BEDANDCUST.ID = #{id}
    </update>
</mapper>