<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.csu.carecenter.Persistence.NurseContentMapper">
    <select id="getAllNurseContentList" resultType="org.csu.carecenter.entity.NurseContent">
        SELECT
            NURCONTENT.NURID as nurseId,
            NURCONTENT.NAME,
            NURCONTENT.SEX,
            NURCONTENT.AGE,
            NURCONTENT.PRICE,
            NURCONTENT.DESCRIBE as description,
            NURCONTENT.LEVELID as levelId,
            NURLEVEL.LEVELNAME as levelName
        FROM NURCONTENT,NURLEVEL
        WHERE NURCONTENT.LEVELID = NURLEVEL.ID
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM NURCONTENT
    </select>

    <insert id="addNurseContent" parameterType="org.csu.carecenter.entity.NurseContent">
        INSERT INTO NURCONTENT
        (NURID,NAME,SEX,AGE,PRICE,levelid,`describe`)
        VALUES
        (#{nurseId},#{name},#{sex},#{age},#{price},#{levelId},#{description})
    </insert>

    <delete id="deleteNurContent" parameterType="string">
        DELETE FROM NURCONTENT
        WHERE NURID=#{nurid}
    </delete>

    <select id="getNurById" parameterType="string" resultType="org.csu.carecenter.entity.NurseContent">
        SELECT
            NURCONTENT.NURID as nurseId,
            NURCONTENT.NAME,
            NURCONTENT.SEX,
            NURCONTENT.AGE,
            NURCONTENT.PRICE,
            NURCONTENT.DESCRIBE as description,
            NURCONTENT.LEVELID as levelId,
            NURLEVEL.LEVELNAME as levelName
        FROM NURCONTENT,NURLEVEL
        WHERE NURCONTENT.LEVELID = NURLEVEL.ID
        AND NURCONTENT.NURID = #{nurId}
    </select>

    <update id="updateNurContent">
        UPDATE NURCONTENT
        SET NURID=#{nurseContent.nurseId},
            NAME = #{nurseContent.name},
            SEX = #{nurseContent.sex},
            AGE = #{nurseContent.age},
            PRICE = #{nurseContent.price},
            DESCRIBE = #{nurseContent.description},
            LEVELID = #{levelId}
        WHERE NURID = #{oldId}
    </update>

    <select id="getAllNurseRecordList" resultType="org.csu.carecenter.entity.NurseRecord">
        SELECT
            ID,
            CUSTID as customerId,
            NURID as nurseId,
            CONTENT ,
            STARTTIME as startTime,
            ENDTIME as endTime
        FROM NURRECORD
    </select>

    <select id="getNurseRecord" resultType="org.csu.carecenter.entity.NurseRecord" parameterType="int">
        SELECT
            ID,
            CUSTID as customerId,
            NURID as nurseId,
            CONTENT ,
            STARTTIME as startTime,
            ENDTIME as endTime
        FROM NURRECORD
        WHERE ID = #{id}
    </select>

    <insert id="addNurseRecord" parameterType="org.csu.carecenter.entity.NurseRecord">
        INSERT INTO NURRECORD
            (ID,CUSTID,NURID,CONTENT,STARTTIME,ENDTIME)
        VALUES
            (#{id},#{customerId},#{nurseId},#{content},#{startTime},#{endTime})
    </insert>

    <select id="getNurseRecordMaxId" resultType="int">
        SELECT
            MAX(ID)
        FROM NURRECORD
    </select>

    <update id="updateNurRecord" parameterType="org.csu.carecenter.entity.NurseRecord">
        UPDATE NURRECORD
        SET
            CUSTID=#{customerId},
            NURID=#{nurseId},
            CONTENT=#{content},
            STARTTIME=#{startTime},
            ENDTIME = #{endTime}
        WHERE ID = #{id}
    </update>

    <delete id="deleteNurRecord" parameterType="int">
        DELETE FROM NURRECORD
        WHERE ID = #{id}
    </delete>

    <insert id="insertCustAndNur" parameterType="org.csu.carecenter.entity.CustomerAndNurse">
        INSERT INTO CUSTANDNUR
        (NURID,CUSTID,STARTTIME,ENDTIME)
        VALUES
        (#{nurId},#{custId},#{startTime},#{endTime})
    </insert>

    <select id="getNurId" parameterType="int" resultType="int">
        SELECT
            NURID
        FROM CUSTANDNUR
        WHERE CUSTID = #{custId}
    </select>

    <select id="getCustomerAndNurseById" resultType="org.csu.carecenter.entity.CustomerAndNurse">
        SELECT
            ID,
            NURID AS nurId,
            CUSTID AS custId,
            STARTTIME AS startTime,
            CONTENT,
            ENDTIME AS endTime
        FROM CUSTANDNUR
        WHERE NURID = #{nurseId}
        AND CUSTID = #{custId}

    </select>

    <update id="updateCustomerAnNurse" parameterType="String">
        UPDATE CUSTANDNUR
        SET ENDTIME=#{time}
        WHERE CUSTID = #{custId}
        AND NURID = #{nurseId}
    </update>
</mapper>