<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.csu.carecenter.Persistence.NurseLevelMapper">

    <select id="getAllNurseLevel" resultType="NurseLevel">
        SELECT
            NURLEVEL.ID as levelId,
            NURLEVEL.LEVELNAME
        FROM NURLEVEL
    </select>

    <select id="getNurseLevelById" resultType="NurseLevel">
        SELECT
            NURLEVEL.ID as levelId,
            NURLEVEL.LEVELNAME
        FROM NURLEVEL
        WHERE NURLEVEL.ID = #{levelId}
    </select>

    <update id="updateNurseLevel" parameterType="NurseLevel">
        UPDATE NURLEVEL SET
            NURLEVEL.ID = #{levelId},
            NURLEVEL.LEVELNAME = #{levelName}
        WHERE NURLEVEL.ID = #{levelId}
    </update>

    <insert id="insertNurseLevel" parameterType="NurseLevel">
        INSERT INTO NURLEVEL
        (NURLEVEL.ID,
         NURLEVEL.LEVELNAME)
        VALUES (#{levelId}, #{levelName})
    </insert>

    <delete id="deleteNurseLevel" parameterType="int">
        DELETE FROM NURLEVEL
        WHERE NURLEVEL.ID = #{id}
    </delete>

    <select id="selectMaxId" resultType="int">
        SELECT MAX(NURLEVEL.ID) as maxid FROM NURLEVEL
    </select>
</mapper>