<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.csu.carecenter.Persistence.OutMapper">
    <select id="getOut" parameterType="int" resultType="Out">
        SELECT
            OUT.ID,
            OUT.CUSTID as customerId,
            OUT.REASON,
            OUT.STARTTIME,
            OUT.EXPTIME as expectReturnTime,
            OUT.ACTTIME as actualReturnTime,
            OUT.AIDPHONE as airPhone
        FROM `out`
        WHERE OUT.ID = #{id}
    </select>

    <select id="getOutList" parameterType="int" resultType="Out">
        SELECT
            OUT.ID,
            OUT.CUSTID as customerId,
            OUT.REASON,
            OUT.STARTTIME,
            OUT.EXPTIME as expectReturnTime,
            OUT.ACTTIME as actualReturnTime,
            OUT.AIDPHONE as airPhone
        FROM `out`
        WHERE OUT.CUSTID = #{custid}
    </select>

    <select id="getAllOutList" resultType="Out">
        SELECT
            OUT.ID,
            OUT.CUSTID as customerId,
            OUT.REASON,
            OUT.STARTTIME,
            OUT.EXPTIME as expectReturnTime,
            OUT.ACTTIME as actualReturnTime,
            OUT.AIDPHONE as airPhone
        FROM `out`
    </select>

    <insert id="insertOut" parameterType="Out">
        INSERT INTO `out`
            (CUSTID,
             REASON,
             STARTTIME,
             EXPTIME,
             ACTTIME,
             AIDPHONE)
        VALUES
            (#{customerId}, #{reason}, #{startTime}, #{expectReturnTime}, #{actualReturnTime}, #{airPhone})
    </insert>

    <update id="updateOut" parameterType="Out">
        UPDATE `out` SET
            CUSTID = #{customerId},
            REASON = #{reason},
            STARTTIME = #{startTime},
            EXPTIME = #{expectReturnTime},
            ACTTIME = #{actualReturnTime},
            AIDPHONE = #{airPhone}
        WHERE
           ID = #{id}
    </update>

    <delete id="deleteOut" parameterType="int">
        DELETE FROM `out`
        WHERE ID = #{id}
    </delete>
</mapper>